# Install Libraries

In [9]:
import numpy as np
import pandas as pd

# number of cards

In [10]:
# identify path
data_num_cards = pd.read_excel('Data .xlsx',sheet_name='number of cards')
data_num_cards

,Bank of Thailand,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153
0,PS_PT_006 : Number of Plastic Cards 1/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Unit : Cards),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Last Updated :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Retrieved date :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,JAN 2010,FEB 2010,MAR 2010,APR 2010,MAY 2010,JUN 2010,JUL 2010,AUG 2010,...,NOV 2021,DEC 2021,JAN 2022,FEB 2022,MAR 2022,APR 2022,MAY 2022,JUN 2022 p,JUL 2022 p,AUG 2022 p
5,1,Credit card 2/,13401203,13402358,13452731,13520714,13426153,13538360,13618990,13714078,...,24027622,24091730,24135544,24191834,24290679,24362676,24436755,24516886,24579189,24673811
6,2,ATM card 3/,19268868,19257368,19183756,18852809,18795629,18932627,17871998,18949152,...,11124316,11219440,11252883,11253299,11232745,11153551,11063205,10994801,11516084,10740942
7,3,Debit card 3/,29704814,30266779,30329961,30688564,31015779,31500071,31516218,31903813,...,64894799,64846431,64980338,64807396,63579754,63504082,63509238,63551921,63434426,63434426
8,4,Total,62374885,62926505,62966448,63062087,63237561,63971058,63007206,64567043,...,100046737,100157601,100368765,100252529,99103178,99020309,99009198,99063608,99529699,114926680
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Bank of Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Remark:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1/ To increase security for cardholders for fi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2/ Include data from commercial banks and non-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"3/ Data from commercial banks. Since 2019, inc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# remove any null and non-neccessary rows and columns
data_num_cards.iat[4, 1] = 'snapshot'
df_num_cards = data_num_cards.drop([0,1,2,3,8,9,10,11,12,13,14,15,16,17,18], axis=0)
df_num_cards = df_num_cards.drop(df_num_cards.columns[0],axis=1)
df_num_cards.columns = range(df_num_cards.shape[1])

# Transpose data
df_num_cards = df_num_cards.transpose().reset_index(drop=True)
df_num_cards.columns = df_num_cards.iloc[0]
df_num_cards = df_num_cards.drop([0],axis=0)

# Transform data to be in vertical format
df_num_cards_final = pd.melt(df_num_cards, id_vars='snapshot', var_name='Card_Type', value_name='Number_of_Cards')

# Clean value in snapshot
df_num_cards_final['snapshot'] = df_num_cards_final['snapshot'].str.replace(r' p| r', '', regex=True)
df_num_cards_final['snapshot'] = df_num_cards_final['snapshot'].str.strip()
# Convert snapshot to datetime
df_num_cards_final['snapshot'] = pd.to_datetime(df_num_cards_final['snapshot'], format='%b %Y')
# Convert Number_of_Cards to numeric
df_num_cards_final['Number_of_Cards'] = pd.to_numeric(df_num_cards_final['Number_of_Cards'])
# Clean value in Card_Type
df_num_cards_final['Card_Type'] = df_num_cards_final['Card_Type'].str.replace(r' 2/| 3/', '', regex=True)
df_num_cards_final['Card_Type'] = df_num_cards_final['Card_Type'].str.strip()

df_num_cards_final

      snapshot    Card_Type  Number_of_Cards
0   2010-01-01  Credit card         13401203
1   2010-02-01  Credit card         13402358
2   2010-03-01  Credit card         13452731
3   2010-04-01  Credit card         13520714
4   2010-05-01  Credit card         13426153
..         ...          ...              ...
451 2022-04-01   Debit card         63504082
452 2022-05-01   Debit card         63509238
453 2022-06-01   Debit card         63551921
454 2022-07-01   Debit card         63434426
455 2022-08-01   Debit card         63434426

[456 rows x 3 columns]

# promptpay

In [12]:
data_promptpay = pd.read_excel('/Data .xlsx',sheet_name='promptpay')
data_promptpay

FileNotFoundError: [Errno 2] No such file or directory: '/Data .xlsx'

In [13]:
# remove any null and non-neccessary rows and columns
data_promptpay.iat[4, 1] = 'snapshot'
df_promptpay = data_promptpay.drop([0,1,2,3,7,8,9,10,11,12,13,14,15], axis=0)
df_promptpay = df_promptpay.drop(df_promptpay.columns[0],axis=1)
df_promptpay.columns = range(df_promptpay.shape[1])

# Transpose data
df_promptpay = df_promptpay.transpose().reset_index(drop=True)
df_promptpay.columns = df_promptpay.iloc[0]
df_promptpay = df_promptpay.drop([0],axis=0)

# Clean value in snapshot
df_promptpay['snapshot'] = df_promptpay['snapshot'].str.replace(r' p| r', '', regex=True)
df_promptpay['snapshot'] = df_promptpay['snapshot'].str.strip()
# Convert snapshot to datetime
df_promptpay['snapshot'] = pd.to_datetime(df_promptpay['snapshot'], format='%b %Y')
# Rename columns
df_promptpay = df_promptpay.rename(columns={'Volume of transactions (Thousand Transactions)': 'Thousand_transactions', 'Value of transactions (Billions of Baht)': 'Billions_Baht'})
# Convert to numeric
df_promptpay['Thousand_transactions'] = pd.to_numeric(df_promptpay['Thousand_transactions'])
df_promptpay['Billions_Baht'] = pd.to_numeric(df_promptpay['Billions_Baht'])

# Create column to identify payment type
df_promptpay['Payment_Type'] = 'promptpay'

df_promptpay

NameError: name 'data_promptpay' is not defined

# Thai cards spent aboard

In [14]:
data_Thai_card = pd.read_excel('/Data .xlsx',sheet_name='Thai cards spent abroad')
data_Thai_card

FileNotFoundError: [Errno 2] No such file or directory: '/Data .xlsx'

In [15]:
# remove any null and non-neccessary rows and columns
data_Thai_card.iat[4, 1] = 'snapshot'
df_Thai_card = data_Thai_card.drop([0,1,2,3,19,20,21,22,23,24,25,26,27,28,29,30,31], axis=0)
df_Thai_card = df_Thai_card.drop(df_Thai_card.columns[0],axis=1)
df_Thai_card.columns = range(df_Thai_card.shape[1])

# Transpose data
df_Thai_card = df_Thai_card.transpose().reset_index(drop=True)

df_Thai_card

NameError: name 'data_Thai_card' is not defined

In [16]:
# Process data of Volume of Transaction

# Selected columns
df_Thai_card_volume = df_Thai_card.iloc[:,[0,2,3,4,5,6,7]]
df_Thai_card_volume.columns = df_Thai_card_volume.iloc[0]
df_Thai_card_vol = df_Thai_card_volume.drop([0],axis=0)

# Transform data to be in vertical format
df_Thai_card_vol_1 = pd.melt(df_Thai_card_vol, id_vars='snapshot', var_name='Transaction_Type', value_name='Thousand_transactions')

# Clean value in snapshot
df_Thai_card_vol_1['snapshot'] = df_Thai_card_vol_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_Thai_card_vol_1['snapshot'] = df_Thai_card_vol_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_Thai_card_vol_1['snapshot'] = pd.to_datetime(df_Thai_card_vol_1['snapshot'], format='%b %Y')
# Convert to numeric
df_Thai_card_vol_1['Thousand_transactions'] = pd.to_numeric(df_Thai_card_vol_1['Thousand_transactions'])
# Clean value in Transaction_Type
df_Thai_card_vol_1['Transaction_Type'] = df_Thai_card_vol_1['Transaction_Type'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/', '', regex=True)
df_Thai_card_vol_1['Transaction_Type'] = df_Thai_card_vol_1['Transaction_Type'].str.strip()

df_Thai_card_vol_1

NameError: name 'df_Thai_card' is not defined

In [17]:
# Process data of Value of Transaction

# Selected columns
df_Thai_card_value = df_Thai_card.iloc[:,[0,9,10,11,12,13,14]]
df_Thai_card_value.columns = df_Thai_card_value.iloc[0]
df_Thai_card_val = df_Thai_card_value.drop([0],axis=0)

# Transform data to be in vertical format
df_Thai_card_val_1 = pd.melt(df_Thai_card_val, id_vars='snapshot', var_name='Transaction_Type', value_name='Millions_Baht')

# Clean value in snapshot
df_Thai_card_val_1['snapshot'] = df_Thai_card_val_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_Thai_card_val_1['snapshot'] = df_Thai_card_val_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_Thai_card_val_1['snapshot'] = pd.to_datetime(df_Thai_card_val_1['snapshot'], format='%b %Y')
# Convert to numeric
df_Thai_card_val_1['Millions_Baht'] = pd.to_numeric(df_Thai_card_val_1['Millions_Baht'])
# Clean value in Transaction_Type
df_Thai_card_val_1['Transaction_Type'] = df_Thai_card_val_1['Transaction_Type'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/', '', regex=True)
df_Thai_card_val_1['Transaction_Type'] = df_Thai_card_val_1['Transaction_Type'].str.strip()

df_Thai_card_val_1

NameError: name 'df_Thai_card' is not defined

In [18]:
# Merge volume and value
Thai_payment_cards_aboard = pd.merge(df_Thai_card_vol_1,df_Thai_card_val_1,on=['snapshot','Transaction_Type'],how='left')

# Create new column to identify payment type
Thai_payment_cards_aboard['Payment_Type'] = 'Thai payment cards spent aboard'

Thai_payment_cards_aboard

NameError: name 'df_Thai_card_vol_1' is not defined

# Foreign cards & emoney

In [19]:
data_foreign_emoney = pd.read_excel('/Data .xlsx',sheet_name='Foreign cards & emoney')
data_foreign_emoney

FileNotFoundError: [Errno 2] No such file or directory: '/Data .xlsx'

In [20]:
# remove any null and non-neccessary rows and columns
data_foreign_emoney.iat[4, 1] = 'snapshot'
df_foreign_emoney = data_foreign_emoney.drop([0,1,2,3,21,22,23,24,25,26,27,28,29,30,31], axis=0)
df_foreign_emoney = df_foreign_emoney.drop(df_foreign_emoney.columns[0],axis=1)
df_foreign_emoney.columns = range(df_foreign_emoney.shape[1])

# Transpose data
df_foreign_emoney = df_foreign_emoney.transpose().reset_index(drop=True)

df_foreign_emoney.head(5)

NameError: name 'data_foreign_emoney' is not defined

In [21]:
# Process data of Volume of Transaction

# Selected columns
df_foreign_emoney_volume = df_foreign_emoney.iloc[:,[0,2,3,4,5,6,7,8]]
df_foreign_emoney_volume.columns = df_foreign_emoney_volume.iloc[0]
df_foreign_emoney_vol = df_foreign_emoney_volume.drop([0],axis=0)

# Transform data to be in vertical format
df_foreign_emoney_vol_1 = pd.melt(df_foreign_emoney_vol, id_vars='snapshot', var_name='Transaction_Type', value_name='Thousand_transactions')

# Clean value in snapshot
df_foreign_emoney_vol_1['snapshot'] = df_foreign_emoney_vol_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_foreign_emoney_vol_1['snapshot'] = df_foreign_emoney_vol_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_foreign_emoney_vol_1['snapshot'] = pd.to_datetime(df_foreign_emoney_vol_1['snapshot'], format='%b %Y')
# Convert to numeric
df_foreign_emoney_vol_1['Thousand_transactions'] = pd.to_numeric(df_foreign_emoney_vol_1['Thousand_transactions'])
# Clean value in Transaction_Type
df_foreign_emoney_vol_1['Transaction_Type'] = df_foreign_emoney_vol_1['Transaction_Type'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
df_foreign_emoney_vol_1['Transaction_Type'] = df_foreign_emoney_vol_1['Transaction_Type'].str.strip()


df_foreign_emoney_vol_1

NameError: name 'df_foreign_emoney' is not defined

In [22]:
# Process data of Value of Transaction

# Selected columns
df_foreign_emoney_value = df_foreign_emoney.iloc[:,[0,10,11,12,13,14,15,16]]
df_foreign_emoney_value.columns = df_foreign_emoney_value.iloc[0]
df_foreign_emoney_val = df_foreign_emoney_value.drop([0],axis=0)

# Transform data to be in vertical format
df_foreign_emoney_val_1 = pd.melt(df_foreign_emoney_val, id_vars='snapshot', var_name='Transaction_Type', value_name='Millions_Baht')

# Clean value in snapshot
df_foreign_emoney_val_1['snapshot'] = df_foreign_emoney_val_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_foreign_emoney_val_1['snapshot'] = df_foreign_emoney_val_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_foreign_emoney_val_1['snapshot'] = pd.to_datetime(df_foreign_emoney_val_1['snapshot'], format='%b %Y')
# Convert to numeric
df_foreign_emoney_val_1['Millions_Baht'] = pd.to_numeric(df_foreign_emoney_val_1['Millions_Baht'])
# Clean value in Transaction_Type
df_foreign_emoney_val_1['Transaction_Type'] = df_foreign_emoney_val_1['Transaction_Type'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
df_foreign_emoney_val_1['Transaction_Type'] = df_foreign_emoney_val_1['Transaction_Type'].str.strip()

df_foreign_emoney_val_1

NameError: name 'df_foreign_emoney' is not defined

In [23]:
# Merge volume and value
Foreign_payment_cards_and_e_money_spent_in_Thailand = pd.merge(df_foreign_emoney_vol_1, df_foreign_emoney_val_1,on=['snapshot','Transaction_Type'],how='left')

# Create new column to identify payment type
Foreign_payment_cards_and_e_money_spent_in_Thailand['Payment_Type'] = 'Foreign payment cards and e-money spent in Thailand'

Foreign_payment_cards_and_e_money_spent_in_Thailand

NameError: name 'df_foreign_emoney_vol_1' is not defined

# Bill payment

In [24]:
data_bill_pmt =  pd.read_excel('/Data .xlsx',sheet_name='Bill Payment')
data_bill_pmt

FileNotFoundError: [Errno 2] No such file or directory: '/Data .xlsx'

In [25]:
# remove any null and non-neccessary rows and columns
data_bill_pmt.iat[4, 1] = 'snapshot'
df_bill_pmt = data_bill_pmt.drop([0,1,2,3,13,14,15,16,17,18,19,20,21], axis=0)
df_bill_pmt = df_bill_pmt.drop(df_bill_pmt.columns[0],axis=1)
df_bill_pmt.columns = range(df_bill_pmt.shape[1])

# Transpose data
df_bill_pmt = df_bill_pmt.transpose().reset_index(drop=True)
df_bill_pmt

NameError: name 'data_bill_pmt' is not defined

In [26]:
# Process data of Volume of Transaction

# Select columns
df_bill_pmt_volume = df_bill_pmt.iloc[:,[0,2,3,4]]
df_bill_pmt_volume.columns = df_bill_pmt_volume.iloc[0]
df_bill_pmt_vol = df_bill_pmt_volume.drop([0],axis=0)

# Transform data to be in vertical
df_bill_pmt_vol_1 = pd.melt(df_bill_pmt_vol, id_vars='snapshot', var_name='Transaction_Type', value_name='Thousand_transactions')

# Clean value in snapshot
df_bill_pmt_vol_1['snapshot'] = df_bill_pmt_vol_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_bill_pmt_vol_1['snapshot'] = df_bill_pmt_vol_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_bill_pmt_vol_1['snapshot'] = pd.to_datetime(df_bill_pmt_vol_1['snapshot'], format='%b %Y')
# Convert to numeric
df_bill_pmt_vol_1['Thousand_transactions'] = pd.to_numeric(df_bill_pmt_vol_1['Thousand_transactions'])
# Clean value in Transaction_Type
df_bill_pmt_vol_1['Transaction_Type'] = df_bill_pmt_vol_1['Transaction_Type'].str.strip()

df_bill_pmt_vol_1

NameError: name 'df_bill_pmt' is not defined

In [27]:
# Process data of Value of Transaction

# Select columns
df_bill_pmt_value = df_bill_pmt.iloc[:,[0,6,7,8]]
df_bill_pmt_value.columns = df_bill_pmt_value.iloc[0]
df_bill_pmt_val = df_bill_pmt_value.drop([0],axis=0)

# Transform data to be in vertical
df_bill_pmt_val_1 = pd.melt(df_bill_pmt_val, id_vars='snapshot', var_name='Transaction_Type', value_name='Millions_Baht')

# Clean value in snapshot
df_bill_pmt_val_1['snapshot'] = df_bill_pmt_val_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_bill_pmt_val_1['snapshot'] = df_bill_pmt_val_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_bill_pmt_val_1['snapshot'] = pd.to_datetime(df_bill_pmt_val_1['snapshot'], format='%b %Y')
# Convert to numeric
df_bill_pmt_val_1['Millions_Baht'] = pd.to_numeric(df_bill_pmt_val_1['Millions_Baht'])
# Clean value in Transaction_Type
df_bill_pmt_val_1['Transaction_Type'] = df_bill_pmt_val_1['Transaction_Type'].str.strip()

df_bill_pmt_val_1

NameError: name 'df_bill_pmt' is not defined

In [28]:
# Merge Volume and Value
bill_payment = pd.merge(df_bill_pmt_vol_1, df_bill_pmt_val_1,on=['snapshot','Transaction_Type'],how='left')

# Create new column to identify payment type
bill_payment['Payment_Type'] = 'Bill Payment at bank and non-bank counters'

bill_payment

NameError: name 'df_bill_pmt_vol_1' is not defined

# No of EFTPOS Terminals 2018+

In [29]:
data_EFTPOS_2018 =  pd.read_excel('/Data .xlsx',sheet_name='No of EFTPOS Terminals 2018+')
data_EFTPOS_2018

FileNotFoundError: [Errno 2] No such file or directory: '/Data .xlsx'

In [30]:
# remove any null and non-neccessary rows and columns
data_EFTPOS_2018.iat[4, 1] = 'snapshot'
df_EFTPOS_2018 = data_EFTPOS_2018.drop([0,1,2,3,6,7,8,9], axis=0)
df_EFTPOS_2018 = df_EFTPOS_2018.drop(df_EFTPOS_2018.columns[0],axis=1)
df_EFTPOS_2018.columns = range(df_EFTPOS_2018.shape[1])

# Transpose data
df_EFTPOS_2018_1 = df_EFTPOS_2018.transpose().reset_index(drop=True)
df_EFTPOS_2018_1.columns = df_EFTPOS_2018_1.iloc[0]
df_EFTPOS_2018_1 = df_EFTPOS_2018_1.drop([0],axis=0)

# Clean value in snapshot
df_EFTPOS_2018_1['snapshot'] = df_EFTPOS_2018_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_EFTPOS_2018_1['snapshot'] = df_EFTPOS_2018_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_EFTPOS_2018_1['snapshot'] = pd.to_datetime(df_EFTPOS_2018_1['snapshot'], format='%b %Y')
# Convert to numeric
df_EFTPOS_2018_1['EFTPOS Terminal'] = pd.to_numeric(df_EFTPOS_2018_1['EFTPOS Terminal'])

df_EFTPOS_2018_1

NameError: name 'data_EFTPOS_2018' is not defined

# No of EFTPOS Terminals <2018

In [31]:
data_EFTPOS_le2018 =  pd.read_excel('/Data .xlsx',sheet_name='No of EFTPOS Terminals <2018')
data_EFTPOS_le2018

FileNotFoundError: [Errno 2] No such file or directory: '/Data .xlsx'

In [32]:
# remove any null and non-neccessary rows and columns
data_EFTPOS_le2018.iat[4, 1] = 'snapshot'
df_EFTPOS_le2018 = data_EFTPOS_le2018.drop([0,1,2,3,6,7,8,9,10,11,12,13,14,15], axis=0)
df_EFTPOS_le2018 = df_EFTPOS_le2018.drop(df_EFTPOS_le2018.columns[0],axis=1)
df_EFTPOS_le2018.columns = range(df_EFTPOS_le2018.shape[1])

# Transpose data
df_EFTPOS_le2018_1 = df_EFTPOS_le2018.transpose().reset_index(drop=True)
df_EFTPOS_le2018_1.columns = df_EFTPOS_le2018_1.iloc[0]
df_EFTPOS_le2018_1 = df_EFTPOS_le2018_1.drop([0],axis=0)

# Format value in snapshot
df_EFTPOS_le2018_1['snapshot'] = df_EFTPOS_le2018_1['snapshot'].str.replace(r'H1/', 'JUN ', regex=True)
df_EFTPOS_le2018_1['snapshot'] = df_EFTPOS_le2018_1['snapshot'].str.replace(r'H2/', 'DEC ', regex=True)
# Clean value in snapshot
df_EFTPOS_le2018_1['snapshot'] = df_EFTPOS_le2018_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_EFTPOS_le2018_1['snapshot'] = df_EFTPOS_le2018_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_EFTPOS_le2018_1['snapshot'] = pd.to_datetime(df_EFTPOS_le2018_1['snapshot'], format='%b %Y')
# Convert to numeric
df_EFTPOS_le2018_1['EFTPOS Terminal'] = pd.to_numeric(df_EFTPOS_le2018_1['EFTPOS Terminal'])

# Format snapshot column

df_EFTPOS_le2018_1

NameError: name 'data_EFTPOS_le2018' is not defined

In [33]:
# Concat data <= 2018 and >=2028
df_EFTPOS = pd.concat([df_EFTPOS_le2018_1,df_EFTPOS_2018_1])
df_EFTPOS

NameError: name 'df_EFTPOS_le2018_1' is not defined

# Value. of Plastic card usage

In [34]:
data_plastic_card_value = pd.read_excel('/Data .xlsx',sheet_name='Value. of Plastic card usage')
data_plastic_card_value

FileNotFoundError: [Errno 2] No such file or directory: '/Data .xlsx'

In [35]:
# remove any null and non-neccessary rows and columns
data_plastic_card_value.iat[4, 1] = 'snapshot'
df_plastic_card_value = data_plastic_card_value.drop([0,1,2,3,16,17,18,19,20,21,22,23,24,25], axis=0)
df_plastic_card_value = df_plastic_card_value.drop(df_plastic_card_value.columns[0],axis=1)
df_plastic_card_value.columns = range(df_plastic_card_value.shape[1])
df_plastic_card_value.reset_index(drop=True,inplace=True)
df_plastic_card_value

NameError: name 'data_plastic_card_value' is not defined

In [36]:
# ATM Card

# Select columns
df_plastic_card_value_atm = df_plastic_card_value.iloc[[0,2,3]]

# Transpose data
df_plastic_card_val_atm = df_plastic_card_value_atm.transpose().reset_index(drop=True)
df_plastic_card_val_atm.columns = df_plastic_card_val_atm.iloc[0]
df_plastic_card_val_atm = df_plastic_card_val_atm.drop([0],axis=0)

# Transform data to be in vertical
df_plastic_card_val_atm1 = pd.melt(df_plastic_card_val_atm, id_vars='snapshot', var_name='Purposes', value_name='Billions_Baht')

# Clean value in snapshot
df_plastic_card_val_atm1['snapshot'] = df_plastic_card_val_atm1['snapshot'].str.replace(r' p| r', '', regex=True)
df_plastic_card_val_atm1['snapshot'] = df_plastic_card_val_atm1['snapshot'].str.strip()
# Convert snapshot to datetime
df_plastic_card_val_atm1['snapshot'] = pd.to_datetime(df_plastic_card_val_atm1['snapshot'], format='%b %Y')
# Clean value in Purposes
df_plastic_card_val_atm1['Purposes'] = df_plastic_card_val_atm1['Purposes'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
# Convert to numeric
df_plastic_card_val_atm1['Billions_Baht'] = pd.to_numeric(df_plastic_card_val_atm1['Billions_Baht'])
# Create new column to identify card type
df_plastic_card_val_atm1['Card_Type'] = 'ATM card'

df_plastic_card_val_atm1

NameError: name 'df_plastic_card_value' is not defined

In [37]:
# Debit card

# Select columns
df_plastic_card_value_db = df_plastic_card_value.iloc[[0,5,6,7]]

# Transpose data
df_plastic_card_val_db = df_plastic_card_value_db.transpose().reset_index(drop=True)
df_plastic_card_val_db.columns = df_plastic_card_val_db.iloc[0]
df_plastic_card_val_db = df_plastic_card_val_db.drop([0],axis=0)

# Transform data to be in vertical
df_plastic_card_val_db1 = pd.melt(df_plastic_card_val_db, id_vars='snapshot', var_name='Purposes', value_name='Billions_Baht')

# Clean value in snapshot
df_plastic_card_val_db1['snapshot'] = df_plastic_card_val_db1['snapshot'].str.replace(r' p| r', '', regex=True)
df_plastic_card_val_db1['snapshot'] = df_plastic_card_val_db1['snapshot'].str.strip()
# Convert snapshot to datetime
df_plastic_card_val_db1['snapshot'] = pd.to_datetime(df_plastic_card_val_db1['snapshot'], format='%b %Y')
# Clean value in Purposes
df_plastic_card_val_db1['Purposes'] = df_plastic_card_val_db1['Purposes'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
# Convert to numeric
df_plastic_card_val_db1['Billions_Baht'] = pd.to_numeric(df_plastic_card_val_db1['Billions_Baht'])
# Create new column to identify card type
df_plastic_card_val_db1['Card_Type'] = 'Debit card'

df_plastic_card_val_db1

NameError: name 'df_plastic_card_value' is not defined

In [38]:
# Credit card

# Select columns
df_plastic_card_value_cc = df_plastic_card_value.iloc[[0,9,10]]

# Transpose data
df_plastic_card_val_cc = df_plastic_card_value_cc.transpose().reset_index(drop=True)
df_plastic_card_val_cc.columns = df_plastic_card_val_cc.iloc[0]
df_plastic_card_val_cc = df_plastic_card_val_cc.drop([0],axis=0)

# Transform data to be in vertical
df_plastic_card_val_cc1 = pd.melt(df_plastic_card_val_cc, id_vars='snapshot', var_name='Purposes', value_name='Billions_Baht')

# Clean value in snapshot
df_plastic_card_val_cc1['snapshot'] = df_plastic_card_val_cc1['snapshot'].str.replace(r' p| r', '', regex=True)
df_plastic_card_val_cc1['snapshot'] = df_plastic_card_val_cc1['snapshot'].str.strip()
# Convert snapshot to datetime
df_plastic_card_val_cc1['snapshot'] = pd.to_datetime(df_plastic_card_val_cc1['snapshot'], format='%b %Y')
# Clean value in Purposes
df_plastic_card_val_cc1['Purposes'] = df_plastic_card_val_cc1['Purposes'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
# Convert to numeric
df_plastic_card_val_cc1['Billions_Baht'] = pd.to_numeric(df_plastic_card_val_cc1['Billions_Baht'])
# Create new column to identify card type
df_plastic_card_val_cc1['Card_Type'] = 'Credit card'

df_plastic_card_val_cc1

NameError: name 'df_plastic_card_value' is not defined

In [39]:
# Combine all card type data together
df_plastic_card_val_final = pd.concat([df_plastic_card_val_atm1,df_plastic_card_val_db1,df_plastic_card_val_cc1])
df_plastic_card_val_final

NameError: name 'df_plastic_card_val_atm1' is not defined

# Vol. of Plastic card usage

In [40]:
data_plastic_card_volume = pd.read_excel('/Data .xlsx',sheet_name='Vol. of Plastic card usage')
data_plastic_card_volume

FileNotFoundError: [Errno 2] No such file or directory: '/Data .xlsx'

In [41]:
# remove any null and non-neccessary rows and columns
data_plastic_card_volume.iat[4, 1] = 'snapshot'
df_plastic_card_volume = data_plastic_card_volume.drop([0,1,2,3,16,17,18,19,20,21,22,23,24,25], axis=0)
df_plastic_card_volume = df_plastic_card_volume.drop(df_plastic_card_volume.columns[0],axis=1)
df_plastic_card_volume.columns = range(df_plastic_card_volume.shape[1])
df_plastic_card_volume.reset_index(drop=True,inplace=True)
df_plastic_card_volume

NameError: name 'data_plastic_card_volume' is not defined

In [37]:
# ATM Card

# Select columns
df_plastic_card_volume_atm = df_plastic_card_volume.iloc[[0,2,3]]

# Transpose data
df_plastic_card_vol_atm = df_plastic_card_volume_atm.transpose().reset_index(drop=True)
df_plastic_card_vol_atm.columns = df_plastic_card_vol_atm.iloc[0]
df_plastic_card_vol_atm = df_plastic_card_vol_atm.drop([0],axis=0)

# Transform data to be in vertical
df_plastic_card_vol_atm1 = pd.melt(df_plastic_card_vol_atm, id_vars='snapshot', var_name='Purposes', value_name='Thousand_transactions')

# Clean value in snapshot
df_plastic_card_vol_atm1['snapshot'] = df_plastic_card_vol_atm1['snapshot'].str.replace(r' p| r', '', regex=True)
df_plastic_card_vol_atm1['snapshot'] = df_plastic_card_vol_atm1['snapshot'].str.strip()
# Convert snapshot to datetime
df_plastic_card_vol_atm1['snapshot'] = pd.to_datetime(df_plastic_card_vol_atm1['snapshot'], format='%b %Y')
# Clean value in Purposes
df_plastic_card_vol_atm1['Purposes'] = df_plastic_card_vol_atm1['Purposes'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
# Convert to numeric
df_plastic_card_vol_atm1['Thousand_transactions'] = pd.to_numeric(df_plastic_card_vol_atm1['Thousand_transactions'])
# Create new column to identify card type
df_plastic_card_vol_atm1['Card_Type'] = 'ATM card'

df_plastic_card_vol_atm1

      snapshot                Purposes  Thousand_transactions Card_Type
0   2010-01-01     for cash withdrawal                  31825  ATM card
1   2010-02-01     for cash withdrawal                  30964  ATM card
2   2010-03-01     for cash withdrawal                  31940  ATM card
3   2010-04-01     for cash withdrawal                  30001  ATM card
4   2010-05-01     for cash withdrawal                  30583  ATM card
..         ...                     ...                    ...       ...
299 2022-04-01      for other purposes                    505  ATM card
300 2022-05-01      for other purposes                    512  ATM card
301 2022-06-01      for other purposes                    495  ATM card
302 2022-07-01      for other purposes                    481  ATM card
303 2022-08-01      for other purposes                    496  ATM card

[304 rows x 4 columns]

In [38]:
# Debit card

# Select columns
df_plastic_card_volume_db = df_plastic_card_volume.iloc[[0,5,6,7]]

# Transpose data
df_plastic_card_vol_db = df_plastic_card_volume_db.transpose().reset_index(drop=True)
df_plastic_card_vol_db.columns = df_plastic_card_vol_db.iloc[0]
df_plastic_card_vol_db = df_plastic_card_vol_db.drop([0],axis=0)

# Transform data to be in vertical
df_plastic_card_vol_db1 = pd.melt(df_plastic_card_vol_db, id_vars='snapshot', var_name='Purposes', value_name='Thousand_transactions')

# Clean value in snapshot
df_plastic_card_vol_db1['snapshot'] = df_plastic_card_vol_db1['snapshot'].str.replace(r' p| r', '', regex=True)
df_plastic_card_vol_db1['snapshot'] = df_plastic_card_vol_db1['snapshot'].str.strip()
# Convert snapshot to datetime
df_plastic_card_vol_db1['snapshot'] = pd.to_datetime(df_plastic_card_vol_db1['snapshot'], format='%b %Y')
# Clean value in Purposes
df_plastic_card_vol_db1['Purposes'] = df_plastic_card_vol_db1['Purposes'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
# Convert to numeric
df_plastic_card_vol_db1['Thousand_transactions'] = pd.to_numeric(df_plastic_card_vol_db1['Thousand_transactions'])
# Create new column to identify card type
df_plastic_card_vol_db1['Card_Type'] = 'Debit card'

df_plastic_card_vol_db1

      snapshot                Purposes  Thousand_transactions   Card_Type
0   2010-01-01     for cash withdrawal                  65980  Debit card
1   2010-02-01     for cash withdrawal                  64673  Debit card
2   2010-03-01     for cash withdrawal                  67810  Debit card
3   2010-04-01     for cash withdrawal                  63845  Debit card
4   2010-05-01     for cash withdrawal                  64644  Debit card
..         ...                     ...                    ...         ...
451 2022-04-01      for other purposes                  14393  Debit card
452 2022-05-01      for other purposes                  15227  Debit card
453 2022-06-01      for other purposes                  14824  Debit card
454 2022-07-01      for other purposes                  14755  Debit card
455 2022-08-01      for other purposes                  14648  Debit card

[456 rows x 4 columns]

In [39]:
# Credit card

# Select columns
df_plastic_card_volume_cc = df_plastic_card_volume.iloc[[0,9,10]]

# Transpose data
df_plastic_card_vol_cc = df_plastic_card_volume_cc.transpose().reset_index(drop=True)
df_plastic_card_vol_cc.columns = df_plastic_card_vol_cc.iloc[0]
df_plastic_card_vol_cc = df_plastic_card_vol_cc.drop([0],axis=0)

# Transform data to be in vertical
df_plastic_card_vol_cc1 = pd.melt(df_plastic_card_vol_cc, id_vars='snapshot', var_name='Purposes', value_name='Thousand_transactions')

# Clean value in snapshot
df_plastic_card_vol_cc1['snapshot'] = df_plastic_card_vol_cc1['snapshot'].str.replace(r' p| r', '', regex=True)
df_plastic_card_vol_cc1['snapshot'] = df_plastic_card_vol_cc1['snapshot'].str.strip()
# Convert snapshot to datetime
df_plastic_card_vol_cc1['snapshot'] = pd.to_datetime(df_plastic_card_vol_cc1['snapshot'], format='%b %Y')
# Clean value in Purposes
df_plastic_card_vol_cc1['Purposes'] = df_plastic_card_vol_cc1['Purposes'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
# Convert to numeric
df_plastic_card_vol_cc1['Thousand_transactions'] = pd.to_numeric(df_plastic_card_vol_cc1['Thousand_transactions'])
# Create new column to identify card type
df_plastic_card_vol_cc1['Card_Type'] = 'Credit card'

df_plastic_card_vol_cc1

      snapshot                   Purposes  Thousand_transactions    Card_Type
0   2010-01-01     for purchasing purpose                  20746  Credit card
1   2010-02-01     for purchasing purpose                  19249  Credit card
2   2010-03-01     for purchasing purpose                  21867  Credit card
3   2010-04-01     for purchasing purpose                  20343  Credit card
4   2010-05-01     for purchasing purpose                  19901  Credit card
..         ...                        ...                    ...          ...
299 2022-04-01         for other purposes                  27178  Credit card
300 2022-05-01         for other purposes                  28742  Credit card
301 2022-06-01         for other purposes                  28596  Credit card
302 2022-07-01         for other purposes                  30017  Credit card
303 2022-08-01         for other purposes                  30131  Credit card

[304 rows x 4 columns]

In [40]:
# Combine all card type data together
df_plastic_card_vol_final = pd.concat([df_plastic_card_vol_atm1,df_plastic_card_vol_db1,df_plastic_card_vol_cc1])
df_plastic_card_vol_final

      snapshot                Purposes  Thousand_transactions    Card_Type
0   2010-01-01     for cash withdrawal                  31825     ATM card
1   2010-02-01     for cash withdrawal                  30964     ATM card
2   2010-03-01     for cash withdrawal                  31940     ATM card
3   2010-04-01     for cash withdrawal                  30001     ATM card
4   2010-05-01     for cash withdrawal                  30583     ATM card
..         ...                     ...                    ...          ...
299 2022-04-01      for other purposes                  27178  Credit card
300 2022-05-01      for other purposes                  28742  Credit card
301 2022-06-01      for other purposes                  28596  Credit card
302 2022-07-01      for other purposes                  30017  Credit card
303 2022-08-01      for other purposes                  30131  Credit card

[1064 rows x 4 columns]

In [41]:
# Merge Volume and Value
df_plastic_card_final = pd.merge(df_plastic_card_val_final,df_plastic_card_vol_final,on=['snapshot','Purposes','Card_Type'],how='left')
df_plastic_card_final

,snapshot,Purposes,Billions_Baht,Card_Type,Thousand_transactions
0,2010-01-01,for cash withdrawal,125,ATM card,31825
1,2010-02-01,for cash withdrawal,122,ATM card,30964
2,2010-03-01,for cash withdrawal,129,ATM card,31940
3,2010-04-01,for cash withdrawal,123,ATM card,30001
4,2010-05-01,for cash withdrawal,125,ATM card,30583
...,...,...,...,...,...
1059,2022-04-01,for other purposes,57,Credit card,27178
1060,2022-05-01,for other purposes,60,Credit card,28742
1061,2022-06-01,for other purposes,62,Credit card,28596
1062,2022-07-01,for other purposes,61,Credit card,30017
1063,2022-08-01,for other purposes,63,Credit card,30131

# e-Money

In [42]:
data_emoney = pd.read_excel('/Data .xlsx',sheet_name='e-Money')
data_emoney

,Bank of Thailand,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153
0,PS_PT_015 : Use of e-Money 1/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Unit: as stated),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Last Updated :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Retrieved date :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,JAN 2010,FEB 2010,MAR 2010,APR 2010,MAY 2010,JUN 2010,JUL 2010,AUG 2010,...,NOV 2021 r,DEC 2021 r,JAN 2022 r,FEB 2022,MAR 2022,APR 2022 r,MAY 2022,JUN 2022 p,JUL 2022 p,AUG 2022 p
5,1,No. of Cards/Account (in millions) 2/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,Bank,0.37,0.39,0.43,0.42,0.38,0.4,0.4,0.43,...,21.86,22.01,22.02,22.35,22.5,22.59,22.67,22.34,22.19,21.43
7,3,Non-bank,9.58,9.76,9.7,9.68,9.83,9.99,10.05,10.18,...,97.54,98.34,99.37,99.68,97.9,98.78,98.11,99.89,100.07,100.58
8,4,Grand Total,9.95,10.14,10.12,10.1,10.21,10.38,10.45,10.6,...,119.4,120.35,121.39,122.03,120.4,121.37,120.78,122.23,122.26,122.01
9,5,Topup Value (Millions of Baht),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,6,Bank,22.62,23.2,42.18,14.34,19.01,33.25,35.69,25.47,...,15308.75,4140.82,9508.19,4734.81,9170.1,9513.69,25098.78,7184.92,17494.08,11936.91
11,7,Non-bank,1356.65,1293.21,1290.2,1229.18,1210.89,1246.32,1367.93,1453.27,...,39584.81,42871.26,38521.13,36094.67,42249.62,39207.32,40974.2,40839.3,43364.05,44252.26
12,8,Grand Total,1379.27,1316.4,1332.37,1243.51,1229.9,1279.56,1403.61,1478.73,...,54893.56,47012.08,48029.32,40829.48,51419.72,48721.01,66072.98,48024.22,60858.13,56189.17
13,9,Spending Value (Millions of Baht),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,10,Bank,25.1,24.05,26.95,28.63,24.74,27.6,34.88,28.33,...,10692.98,3748.3,6194.34,3476.4,8006.51,5932.82,15059.51,4990.44,11617.97,7797.76
15,11,Non-bank,1329.64,1276.26,1304.6,1207.04,1194.41,1234.34,1357.11,1420.58,...,40391.36,43271.25,39340.06,37249.75,43660.01,40623.06,42585.29,42557.36,44685.44,46432.92
16,12,Grand Total,1354.73,1300.3,1331.55,1235.67,1219.14,1261.93,1391.98,1448.9,...,51084.34,47019.55,45534.4,40726.15,51666.52,46555.88,57644.8,47547.8,56303.41,54230.68
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Bank of Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Remark:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1/ Data collected from electronic payment serv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2/ Data including e-Money that is used in plac...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# remove any null and non-neccessary rows and columns
data_emoney.iat[4, 1] = 'snapshot'
df_emoney = data_emoney.drop([0,1,2,3,17,18,19,20,21,22,23], axis=0)
df_emoney = df_emoney.drop(df_emoney.columns[0],axis=1)
df_emoney.columns = range(df_emoney.shape[1])
df_emoney.reset_index(drop=True,inplace=True)
df_emoney

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,snapshot,JAN 2010,FEB 2010,MAR 2010,APR 2010,MAY 2010,JUN 2010,JUL 2010,AUG 2010,SEP 2010,...,NOV 2021 r,DEC 2021 r,JAN 2022 r,FEB 2022,MAR 2022,APR 2022 r,MAY 2022,JUN 2022 p,JUL 2022 p,AUG 2022 p
1,No. of Cards/Account (in millions) 2/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bank,0.37,0.39,0.43,0.42,0.38,0.4,0.4,0.43,0.46,...,21.86,22.01,22.02,22.35,22.5,22.59,22.67,22.34,22.19,21.43
3,Non-bank,9.58,9.76,9.7,9.68,9.83,9.99,10.05,10.18,10.38,...,97.54,98.34,99.37,99.68,97.9,98.78,98.11,99.89,100.07,100.58
4,Grand Total,9.95,10.14,10.12,10.1,10.21,10.38,10.45,10.6,10.83,...,119.4,120.35,121.39,122.03,120.4,121.37,120.78,122.23,122.26,122.01
5,Topup Value (Millions of Baht),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Bank,22.62,23.2,42.18,14.34,19.01,33.25,35.69,25.47,31,...,15308.75,4140.82,9508.19,4734.81,9170.1,9513.69,25098.78,7184.92,17494.08,11936.91
7,Non-bank,1356.65,1293.21,1290.2,1229.18,1210.89,1246.32,1367.93,1453.27,1503.2,...,39584.81,42871.26,38521.13,36094.67,42249.62,39207.32,40974.2,40839.3,43364.05,44252.26
8,Grand Total,1379.27,1316.4,1332.37,1243.51,1229.9,1279.56,1403.61,1478.73,1534.19,...,54893.56,47012.08,48029.32,40829.48,51419.72,48721.01,66072.98,48024.22,60858.13,56189.17
9,Spending Value (Millions of Baht),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Bank,25.1,24.05,26.95,28.63,24.74,27.6,34.88,28.33,26.4,...,10692.98,3748.3,6194.34,3476.4,8006.51,5932.82,15059.51,4990.44,11617.97,7797.76
11,Non-bank,1329.64,1276.26,1304.6,1207.04,1194.41,1234.34,1357.11,1420.58,1505.9,...,40391.36,43271.25,39340.06,37249.75,43660.01,40623.06,42585.29,42557.36,44685.44,46432.92
12,Grand Total,1354.73,1300.3,1331.55,1235.67,1219.14,1261.93,1391.98,1448.9,1532.29,...,51084.34,47019.55,45534.4,40726.15,51666.52,46555.88,57644.8,47547.8,56303.41,54230.68

In [44]:
# No. of Cards/Account (in millions)

# Select columns
df_emoney_no = df_emoney.iloc[[0,2,3]]

# Transpose data
df_emoney_no_1 = df_emoney_no.transpose().reset_index(drop=True)
df_emoney_no_1.columns = df_emoney_no_1.iloc[0]
df_emoney_no_1 = df_emoney_no_1.drop([0],axis=0)

# Transform data to be in vertical
df_emoney_no_1 = pd.melt(df_emoney_no_1, id_vars='snapshot', var_name='Institutions', value_name='No_of_Cards/Account_in_millions')

# Clean value in snapshot
df_emoney_no_1['snapshot'] = df_emoney_no_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_emoney_no_1['snapshot'] = df_emoney_no_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_emoney_no_1['snapshot'] = pd.to_datetime(df_emoney_no_1['snapshot'], format='%b %Y')
# Clean value in Institutions
df_emoney_no_1['Institutions'] = df_emoney_no_1['Institutions'].str.strip()
# Convert to numeric
df_emoney_no_1['No_of_Cards/Account_in_millions'] = pd.to_numeric(df_emoney_no_1['No_of_Cards/Account_in_millions'])

df_emoney_no_1

      snapshot Institutions  No_of_Cards/Account_in_millions
0   2010-01-01         Bank                             0.37
1   2010-02-01         Bank                             0.39
2   2010-03-01         Bank                             0.43
3   2010-04-01         Bank                             0.42
4   2010-05-01         Bank                             0.38
..         ...          ...                              ...
299 2022-04-01     Non-bank                            98.78
300 2022-05-01     Non-bank                            98.11
301 2022-06-01     Non-bank                            99.89
302 2022-07-01     Non-bank                           100.07
303 2022-08-01     Non-bank                           100.58

[304 rows x 3 columns]

In [45]:
# Topup Value (Millions of Baht)

# Select columns
df_emoney_val = df_emoney.iloc[[0,6,7]]

# Transpose data
df_emoney_val_1 = df_emoney_val.transpose().reset_index(drop=True)
df_emoney_val_1.columns = df_emoney_val_1.iloc[0]
df_emoney_val_1 = df_emoney_val_1.drop([0],axis=0)

# Transform data to be in vertical
df_emoney_val_1 = pd.melt(df_emoney_val_1, id_vars='snapshot', var_name='Institutions', value_name='Topup_Value_Millions_Baht')

# Clean value in snapshot
df_emoney_val_1['snapshot'] = df_emoney_val_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_emoney_val_1['snapshot'] = df_emoney_val_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_emoney_val_1['snapshot'] = pd.to_datetime(df_emoney_val_1['snapshot'], format='%b %Y')
# Clean value in Institutions
df_emoney_val_1['Institutions'] = df_emoney_val_1['Institutions'].str.strip()
# Convert to numeric
df_emoney_val_1['Topup_Value_Millions_Baht'] = pd.to_numeric(df_emoney_val_1['Topup_Value_Millions_Baht'])

df_emoney_val_1

      snapshot Institutions  Topup_Value_Millions_Baht
0   2010-01-01         Bank                      22.62
1   2010-02-01         Bank                      23.20
2   2010-03-01         Bank                      42.18
3   2010-04-01         Bank                      14.34
4   2010-05-01         Bank                      19.01
..         ...          ...                        ...
299 2022-04-01     Non-bank                   39207.32
300 2022-05-01     Non-bank                   40974.20
301 2022-06-01     Non-bank                   40839.30
302 2022-07-01     Non-bank                   43364.05
303 2022-08-01     Non-bank                   44252.26

[304 rows x 3 columns]

In [46]:
# Spending Value (Millions of Baht)

# Select columns
df_emoney_spend = df_emoney.iloc[[0,10,11]]

# Transpose data
df_emoney_spd_1 = df_emoney_spend.transpose().reset_index(drop=True)
df_emoney_spd_1.columns = df_emoney_spd_1.iloc[0]
df_emoney_spd_1 = df_emoney_spd_1.drop([0],axis=0)

# Transform data to be in vertical
df_emoney_spd_1 = pd.melt(df_emoney_spd_1, id_vars='snapshot', var_name='Institutions', value_name='Spending_Value_Millions_Baht')

# Clean value in snapshot
df_emoney_spd_1['snapshot'] = df_emoney_spd_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_emoney_spd_1['snapshot'] = df_emoney_spd_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_emoney_spd_1['snapshot'] = pd.to_datetime(df_emoney_spd_1['snapshot'], format='%b %Y')
# Clean value in Institutions
df_emoney_spd_1['Institutions'] = df_emoney_spd_1['Institutions'].str.strip()
# Convert to numeric
df_emoney_spd_1['Spending_Value_Millions_Baht'] = pd.to_numeric(df_emoney_spd_1['Spending_Value_Millions_Baht'])

df_emoney_spd_1

      snapshot Institutions  Spending_Value_Millions_Baht
0   2010-01-01         Bank                         25.10
1   2010-02-01         Bank                         24.05
2   2010-03-01         Bank                         26.95
3   2010-04-01         Bank                         28.63
4   2010-05-01         Bank                         24.74
..         ...          ...                           ...
299 2022-04-01     Non-bank                      40623.06
300 2022-05-01     Non-bank                      42585.29
301 2022-06-01     Non-bank                      42557.36
302 2022-07-01     Non-bank                      44685.44
303 2022-08-01     Non-bank                      46432.92

[304 rows x 3 columns]

In [47]:
# Merge Volume, Topup and Spending value
df_emoney_final = pd.merge(df_emoney_no_1,df_emoney_val_1,on=['snapshot','Institutions'],how='left').merge(df_emoney_spd_1,on=['snapshot','Institutions'],how='left')
df_emoney_final

,snapshot,Institutions,No_of_Cards/Account_in_millions,Topup_Value_Millions_Baht,Spending_Value_Millions_Baht
0,2010-01-01,Bank,0.37,22.62,25.10
1,2010-02-01,Bank,0.39,23.20,24.05
2,2010-03-01,Bank,0.43,42.18,26.95
3,2010-04-01,Bank,0.42,14.34,28.63
4,2010-05-01,Bank,0.38,19.01,24.74
...,...,...,...,...,...
299,2022-04-01,Non-bank,98.78,39207.32,40623.06
300,2022-05-01,Non-bank,98.11,40974.20,42585.29
301,2022-06-01,Non-bank,99.89,40839.30,42557.36
302,2022-07-01,Non-bank,100.07,43364.05,44685.44
303,2022-08-01,Non-bank,100.58,44252.26,46432.92

# Value. of e-payment

In [48]:
data_epayment_value = pd.read_excel('/Data .xlsx',sheet_name='Value. of e-payment')
data_epayment_value

,Bank of Thailand,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106
0,PS_PT_012 : Value of e-Payment under the Royal...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Unit : Billions of Baht),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Last Updated :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Retrieved date :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,JAN 2010,FEB 2010,MAR 2010,APR 2010,MAY 2010,JUN 2010,JUL 2010,AUG 2010,...,DEC 2017,JAN 2018,FEB 2018,MAR 2018,APR 2018,MAY 2018,JUN 2018,JUL 2018 p,AUG 2018 p,SEP 2018 p
5,1,Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,Counter,12.72,12.68,14.93,12.71,12.97,14.61,13.88,14.57,...,13.54,14.18,12.58,13.32,11.48,12.34,11.17,10.94,11.77,10.58
7,3,ATM,214.62,212.94,236.47,210.93,216.29,237.53,234.72,234.32,...,251.74,233.85,215.52,232.03,201.13,209.25,195.47,194.91,195.73,175.11
8,4,EDC/EFTPOS,45.88,43.27,49.67,42.38,38.93,41.69,44.67,46.35,...,126.44,117.87,107.15,118,109.38,109.33,111.36,113.51,115.15,107.8
9,5,Internet,552.1,550.37,674.59,673.12,667.35,669.59,668.57,637.53,...,2205.43,2059.34,1949.31,2108.13,1986.97,2175.09,2198.89,2151.56,2373.95,2271.69
10,6,Mobile Phone,7.22,7.55,8.79,7.96,8.11,9.23,9.28,9.54,...,1046.08,1030.74,1013.25,1159.01,1105.6,1267.3,1269.04,1325.41,1378.21,1362.26
11,7,Leased Line,341.83,313.39,380.17,340.17,306.51,371,354.86,420.22,...,530.52,547.17,460.86,556.32,323.33,256.29,338.92,293.71,285.45,301.62
12,8,Telephone,44.81,42.76,50.63,43.05,43.14,48.21,44.47,45.81,...,2,2.02,1.83,2.03,1.93,2.03,1.94,1.84,1.96,1.77
13,9,Others,4.04,3.61,4.08,3.59,3.48,3.93,3.98,4.21,...,6.95,1.75,1.86,1.94,1.88,2.43,2.19,1.91,1.71,1.76
14,10,Total bank,1223.22,1186.57,1419.33,1333.91,1296.78,1395.79,1374.43,1412.55,...,4182.7,4006.92,3762.36,4190.78,3741.7,4034.06,4128.98,4093.79,4363.93,4232.59
15,11,Non-bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,12,Counter,3.18,3.72,3.84,2.45,3.13,3.67,3.33,3.36,...,1.03,1.03,1.14,1.09,0.9,1.06,1.08,1.52,1.64,1.34
17,13,EDC/EFTPOS,17.32,16.49,19.23,17.23,16.8,17.94,18.08,18.84,...,54.85,39.29,40.76,44.31,39.8,42.53,41.41,42.53,41.22,38.63
18,14,Internet,0.77,0.78,0.92,0.78,0.82,0.84,0.85,0.97,...,9.09,9.33,9.52,10.49,9.44,9.34,8.98,9.41,9.91,10.05
19,15,Mobile Phone,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,...,3.81,2.67,2.74,3.14,2.85,3.22,3.88,3.92,3.89,4.46
20,16,Others,2.78,2.87,3.53,3,3.09,3.25,3.36,3.56,...,11.57,8.86,8.89,10.51,9.81,10.37,10.86,10.84,11.28,11.46
21,17,Total non-bank,24.07,23.88,27.54,23.49,23.87,25.72,25.64,26.75,...,80.35,61.18,63.05,69.54,62.8,66.52,66.21,68.22,67.94,65.94
22,18,Grand Total,1247.29,1210.45,1446.87,1357.4,1320.65,1421.51,1400.07,1439.3,...,4263.05,4068.1,3825.41,4260.32,3804.5,4100.58,4195.19,4162.01,4431.87,4298.53
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Bank of Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Remark:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1/ Data collected from electronic payment serv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
# remove any null and non-neccessary rows and columns
data_epayment_value.iat[4, 1] = 'snapshot'
df_epayment_value = data_epayment_value.drop([0,1,2,3,23,24,25,26,27,28,29], axis=0)
df_epayment_value = df_epayment_value.drop(df_epayment_value.columns[0],axis=1)
df_epayment_value.columns = range(df_epayment_value.shape[1])
df_epayment_value.reset_index(drop=True,inplace=True)
df_epayment_value

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,snapshot,JAN 2010,FEB 2010,MAR 2010,APR 2010,MAY 2010,JUN 2010,JUL 2010,AUG 2010,SEP 2010,...,DEC 2017,JAN 2018,FEB 2018,MAR 2018,APR 2018,MAY 2018,JUN 2018,JUL 2018 p,AUG 2018 p,SEP 2018 p
1,Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Counter,12.72,12.68,14.93,12.71,12.97,14.61,13.88,14.57,14.88,...,13.54,14.18,12.58,13.32,11.48,12.34,11.17,10.94,11.77,10.58
3,ATM,214.62,212.94,236.47,210.93,216.29,237.53,234.72,234.32,238.85,...,251.74,233.85,215.52,232.03,201.13,209.25,195.47,194.91,195.73,175.11
4,EDC/EFTPOS,45.88,43.27,49.67,42.38,38.93,41.69,44.67,46.35,44.31,...,126.44,117.87,107.15,118,109.38,109.33,111.36,113.51,115.15,107.8
5,Internet,552.1,550.37,674.59,673.12,667.35,669.59,668.57,637.53,683.72,...,2205.43,2059.34,1949.31,2108.13,1986.97,2175.09,2198.89,2151.56,2373.95,2271.69
6,Mobile Phone,7.22,7.55,8.79,7.96,8.11,9.23,9.28,9.54,10.13,...,1046.08,1030.74,1013.25,1159.01,1105.6,1267.3,1269.04,1325.41,1378.21,1362.26
7,Leased Line,341.83,313.39,380.17,340.17,306.51,371,354.86,420.22,448.29,...,530.52,547.17,460.86,556.32,323.33,256.29,338.92,293.71,285.45,301.62
8,Telephone,44.81,42.76,50.63,43.05,43.14,48.21,44.47,45.81,44.9,...,2,2.02,1.83,2.03,1.93,2.03,1.94,1.84,1.96,1.77
9,Others,4.04,3.61,4.08,3.59,3.48,3.93,3.98,4.21,4.96,...,6.95,1.75,1.86,1.94,1.88,2.43,2.19,1.91,1.71,1.76
10,Total bank,1223.22,1186.57,1419.33,1333.91,1296.78,1395.79,1374.43,1412.55,1490.04,...,4182.7,4006.92,3762.36,4190.78,3741.7,4034.06,4128.98,4093.79,4363.93,4232.59
11,Non-bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Counter,3.18,3.72,3.84,2.45,3.13,3.67,3.33,3.36,3.36,...,1.03,1.03,1.14,1.09,0.9,1.06,1.08,1.52,1.64,1.34
13,EDC/EFTPOS,17.32,16.49,19.23,17.23,16.8,17.94,18.08,18.84,17.85,...,54.85,39.29,40.76,44.31,39.8,42.53,41.41,42.53,41.22,38.63
14,Internet,0.77,0.78,0.92,0.78,0.82,0.84,0.85,0.97,1.02,...,9.09,9.33,9.52,10.49,9.44,9.34,8.98,9.41,9.91,10.05
15,Mobile Phone,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,...,3.81,2.67,2.74,3.14,2.85,3.22,3.88,3.92,3.89,4.46
16,Others,2.78,2.87,3.53,3,3.09,3.25,3.36,3.56,3.29,...,11.57,8.86,8.89,10.51,9.81,10.37,10.86,10.84,11.28,11.46
17,Total non-bank,24.07,23.88,27.54,23.49,23.87,25.72,25.64,26.75,25.54,...,80.35,61.18,63.05,69.54,62.8,66.52,66.21,68.22,67.94,65.94
18,Grand Total,1247.29,1210.45,1446.87,1357.4,1320.65,1421.51,1400.07,1439.3,1515.58,...,4263.05,4068.1,3825.41,4260.32,3804.5,4100.58,4195.19,4162.01,4431.87,4298.53

In [50]:
# Bank

# Select columns
df_epayment_value_bank = df_epayment_value.iloc[[0,2,3,4,5,6,7,8,9]]

# Transpose data
df_epayment_value_bank = df_epayment_value_bank.transpose().reset_index(drop=True)
df_epayment_value_bank.columns = df_epayment_value_bank.iloc[0]
df_epayment_value_bank = df_epayment_value_bank.drop([0],axis=0)

# Transform data to be in vertical
df_epayment_value_bank_1 = pd.melt(df_epayment_value_bank, id_vars='snapshot', var_name='Payment_Channel', value_name='Billions_Baht')

# Clean value in snapshot
df_epayment_value_bank_1['snapshot'] = df_epayment_value_bank_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_epayment_value_bank_1['snapshot'] = df_epayment_value_bank_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_epayment_value_bank_1['snapshot'] = pd.to_datetime(df_epayment_value_bank_1['snapshot'], format='%b %Y')
# Clean value in payment channel
df_epayment_value_bank_1['Payment_Channel'] = df_epayment_value_bank_1['Payment_Channel'].str.strip()
# Convert to numeric
df_epayment_value_bank_1['Billions_Baht'] = pd.to_numeric(df_epayment_value_bank_1['Billions_Baht'])

df_epayment_value_bank_1['Institutions'] = 'Bank'
df_epayment_value_bank_1

      snapshot Payment_Channel  Billions_Baht Institutions
0   2010-01-01         Counter          12.72         Bank
1   2010-02-01         Counter          12.68         Bank
2   2010-03-01         Counter          14.93         Bank
3   2010-04-01         Counter          12.71         Bank
4   2010-05-01         Counter          12.97         Bank
..         ...             ...            ...          ...
835 2018-05-01          Others           2.43         Bank
836 2018-06-01          Others           2.19         Bank
837 2018-07-01          Others           1.91         Bank
838 2018-08-01          Others           1.71         Bank
839 2018-09-01          Others           1.76         Bank

[840 rows x 4 columns]

In [51]:
# Non-bank

# Select columns
df_epayment_value_nonbank = df_epayment_value.iloc[[0,12,13,14,15,16]]

# Transpose data
df_epayment_value_nonbank = df_epayment_value_nonbank.transpose().reset_index(drop=True)
df_epayment_value_nonbank.columns = df_epayment_value_nonbank.iloc[0]
df_epayment_value_nonbank = df_epayment_value_nonbank.drop([0],axis=0)

# Transform data to be in vertical
df_epayment_value_nonbank_1 = pd.melt(df_epayment_value_nonbank, id_vars='snapshot', var_name='Payment_Channel', value_name='Billions_Baht')

# Clean value in snapshot
df_epayment_value_nonbank_1['snapshot'] = df_epayment_value_nonbank_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_epayment_value_nonbank_1['snapshot'] = df_epayment_value_nonbank_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_epayment_value_nonbank_1['snapshot'] = pd.to_datetime(df_epayment_value_nonbank_1['snapshot'], format='%b %Y')
# Clean value in payment channel
df_epayment_value_nonbank_1['Payment_Channel'] = df_epayment_value_nonbank_1['Payment_Channel'].str.strip()
# Convert to numeric
df_epayment_value_nonbank_1['Billions_Baht'] = pd.to_numeric(df_epayment_value_nonbank_1['Billions_Baht'])


df_epayment_value_nonbank_1['Institutions'] = 'Non-bank'
df_epayment_value_nonbank_1

      snapshot Payment_Channel  Billions_Baht Institutions
0   2010-01-01         Counter           3.18     Non-bank
1   2010-02-01         Counter           3.72     Non-bank
2   2010-03-01         Counter           3.84     Non-bank
3   2010-04-01         Counter           2.45     Non-bank
4   2010-05-01         Counter           3.13     Non-bank
..         ...             ...            ...          ...
520 2018-05-01          Others          10.37     Non-bank
521 2018-06-01          Others          10.86     Non-bank
522 2018-07-01          Others          10.84     Non-bank
523 2018-08-01          Others          11.28     Non-bank
524 2018-09-01          Others          11.46     Non-bank

[525 rows x 4 columns]

In [52]:
# Concat Bank and Non-bank data
df_epayment_value_final = pd.concat([df_epayment_value_bank_1,df_epayment_value_nonbank_1])
df_epayment_value_final

      snapshot Payment_Channel  Billions_Baht Institutions
0   2010-01-01         Counter          12.72         Bank
1   2010-02-01         Counter          12.68         Bank
2   2010-03-01         Counter          14.93         Bank
3   2010-04-01         Counter          12.71         Bank
4   2010-05-01         Counter          12.97         Bank
..         ...             ...            ...          ...
520 2018-05-01          Others          10.37     Non-bank
521 2018-06-01          Others          10.86     Non-bank
522 2018-07-01          Others          10.84     Non-bank
523 2018-08-01          Others          11.28     Non-bank
524 2018-09-01          Others          11.46     Non-bank

[1365 rows x 4 columns]

# Vol. of e-payment

In [53]:
data_epayment_volume = pd.read_excel('/Data .xlsx',sheet_name='Vol. of e-payment')
data_epayment_volume

,Bank of Thailand,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106
0,PS_PT_011 : Volume of e-Payment under the Roya...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Unit : Thousand Transactions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Last Updated :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Retrieved date :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,JAN 2010,FEB 2010,MAR 2010,APR 2010,MAY 2010,JUN 2010,JUL 2010,AUG 2010,...,DEC 2017,JAN 2018,FEB 2018,MAR 2018,APR 2018,MAY 2018,JUN 2018,JUL 2018 p,AUG 2018 p,SEP 2018 p
5,1,Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,Counter,693.1,706.11,791.68,652.27,681.3,804.71,761.18,798.45,...,666.79,684.14,614.39,625.08,537.41,589.44,542.72,532.58,565.92,514.86
7,3,ATM,22234.85,22306.41,23680.27,21372.54,22837.44,24564.36,25180.42,25186.85,...,26139.22,24078.45,22722.14,24179.96,20497.68,21187.41,19895.99,19702.09,19383.07,18226.86
8,4,EDC/EFTPOS,14894.13,13895.27,15792.33,14468.9,14046.2,14391.85,15115.21,15826.4,...,35783.61,36338.84,32712.25,35701.01,35693.98,35981.66,35126.41,37452.48,37088.2,35860.96
9,5,Internet,4178.76,4365.36,5033.94,4660.06,4752.14,5331.25,5282.67,5404.47,...,22059.17,20036.11,18964.72,22148.45,23983.95,26390.24,27857.95,30071.88,31431.65,32358.27
10,6,Mobile Phone,1217.13,1204.3,1308.96,1210.28,1258,1321.34,1344.6,1389.58,...,151157.83,152311.95,153747.75,176591.94,173537.16,198625.09,203249.47,216661.55,227063.83,236337.9
11,7,Leased Line,867.25,892.74,928.45,893.24,809.49,910.17,902.36,926.41,...,634.31,608.27,598.92,632.17,600.41,620.42,613.25,632.04,645.93,640.68
12,8,Telephone,289.38,274.86,306.36,269.53,273.21,288.66,288.25,289.22,...,17.03,16.03,14.46,15.5,13.66,14.5,13.15,12.72,12.51,11.23
13,9,Others,524.94,494.56,547.29,504.29,505.11,529.77,558.89,613.38,...,444.76,409.46,398.07,407.23,414.68,430.36,420.96,436.63,431.92,407.05
14,10,Total bank,44899.54,44139.61,48389.28,44031.11,45162.89,48142.11,49433.58,50434.76,...,236902.72,234483.25,229772.7,260301.34,255278.93,283839.12,287719.9,305501.97,316623.03,324357.81
15,11,Non-bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,12,Counter,891.79,1065.93,1076.03,708.91,954.02,1165.64,1110.44,1149.4,...,2701.74,3841.15,3245.02,3425.45,3294.33,3608.81,3726.79,4509.63,5422.93,5183.9
17,13,EDC/EFTPOS,7049.32,6442.23,7288.78,6989.87,6922.34,6876.7,7171.76,7392.88,...,16219.63,15116.83,13654.47,14720.05,15549.47,15488.96,14670.98,15944.33,15267.99,14570.8
18,14,Internet,6617.03,6806.02,7697.36,7130.83,7484.99,7490.9,6917.86,8344.68,...,6827.86,7454.06,7150.54,8277.05,7536.85,7590.83,7212.94,7291.77,7363.01,7572.3
19,15,Mobile Phone,25.53,24.21,26.43,25.66,27.21,26.6,28.26,28.37,...,4170.29,3676.36,3471.59,3587.09,4105.77,4426.37,4771.09,4810.9,4920.94,4987.24
20,16,Others,1705.08,1744,1618.13,1522.49,1536.58,1543.36,1802.74,1684.84,...,54592.95,55441.71,51470.82,57428.14,55159.17,57570.23,57115.74,60262.54,61870.17,60514.53
21,17,Total non-bank,16288.75,16082.39,17706.73,16377.76,16925.14,17103.2,17031.06,18600.17,...,84512.47,85530.11,78992.44,87437.78,85645.59,88685.2,87497.54,92819.17,94845.04,92828.77
22,18,Grand Total,61188.28,60222,66096.01,60408.87,62088.03,65245.31,66464.64,69034.93,...,321415.19,320013.36,308765.14,347739.12,340924.52,372524.32,375217.44,398321.14,411468.07,417186.58
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Bank of Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Remark:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1/ Data collected from electronic payment serv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
# remove any null and non-neccessary rows and columns
data_epayment_volume.iat[4, 1] = 'snapshot'
df_epayment_volume = data_epayment_volume.drop([0,1,2,3,23,24,25,26,27,28,29,30], axis=0)
df_epayment_volume = df_epayment_volume.drop(df_epayment_volume.columns[0],axis=1)
df_epayment_volume.columns = range(df_epayment_volume.shape[1])
df_epayment_volume.reset_index(drop=True,inplace=True)
df_epayment_volume

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,snapshot,JAN 2010,FEB 2010,MAR 2010,APR 2010,MAY 2010,JUN 2010,JUL 2010,AUG 2010,SEP 2010,...,DEC 2017,JAN 2018,FEB 2018,MAR 2018,APR 2018,MAY 2018,JUN 2018,JUL 2018 p,AUG 2018 p,SEP 2018 p
1,Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Counter,693.1,706.11,791.68,652.27,681.3,804.71,761.18,798.45,811,...,666.79,684.14,614.39,625.08,537.41,589.44,542.72,532.58,565.92,514.86
3,ATM,22234.85,22306.41,23680.27,21372.54,22837.44,24564.36,25180.42,25186.85,25362.71,...,26139.22,24078.45,22722.14,24179.96,20497.68,21187.41,19895.99,19702.09,19383.07,18226.86
4,EDC/EFTPOS,14894.13,13895.27,15792.33,14468.9,14046.2,14391.85,15115.21,15826.4,14874.61,...,35783.61,36338.84,32712.25,35701.01,35693.98,35981.66,35126.41,37452.48,37088.2,35860.96
5,Internet,4178.76,4365.36,5033.94,4660.06,4752.14,5331.25,5282.67,5404.47,5582.66,...,22059.17,20036.11,18964.72,22148.45,23983.95,26390.24,27857.95,30071.88,31431.65,32358.27
6,Mobile Phone,1217.13,1204.3,1308.96,1210.28,1258,1321.34,1344.6,1389.58,1417.44,...,151157.83,152311.95,153747.75,176591.94,173537.16,198625.09,203249.47,216661.55,227063.83,236337.9
7,Leased Line,867.25,892.74,928.45,893.24,809.49,910.17,902.36,926.41,930.62,...,634.31,608.27,598.92,632.17,600.41,620.42,613.25,632.04,645.93,640.68
8,Telephone,289.38,274.86,306.36,269.53,273.21,288.66,288.25,289.22,287.53,...,17.03,16.03,14.46,15.5,13.66,14.5,13.15,12.72,12.51,11.23
9,Others,524.94,494.56,547.29,504.29,505.11,529.77,558.89,613.38,667.02,...,444.76,409.46,398.07,407.23,414.68,430.36,420.96,436.63,431.92,407.05
10,Total bank,44899.54,44139.61,48389.28,44031.11,45162.89,48142.11,49433.58,50434.76,49933.59,...,236902.72,234483.25,229772.7,260301.34,255278.93,283839.12,287719.9,305501.97,316623.03,324357.81
11,Non-bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Counter,891.79,1065.93,1076.03,708.91,954.02,1165.64,1110.44,1149.4,1160.48,...,2701.74,3841.15,3245.02,3425.45,3294.33,3608.81,3726.79,4509.63,5422.93,5183.9
13,EDC/EFTPOS,7049.32,6442.23,7288.78,6989.87,6922.34,6876.7,7171.76,7392.88,6811.32,...,16219.63,15116.83,13654.47,14720.05,15549.47,15488.96,14670.98,15944.33,15267.99,14570.8
14,Internet,6617.03,6806.02,7697.36,7130.83,7484.99,7490.9,6917.86,8344.68,9234.73,...,6827.86,7454.06,7150.54,8277.05,7536.85,7590.83,7212.94,7291.77,7363.01,7572.3
15,Mobile Phone,25.53,24.21,26.43,25.66,27.21,26.6,28.26,28.37,28.97,...,4170.29,3676.36,3471.59,3587.09,4105.77,4426.37,4771.09,4810.9,4920.94,4987.24
16,Others,1705.08,1744,1618.13,1522.49,1536.58,1543.36,1802.74,1684.84,1556.97,...,54592.95,55441.71,51470.82,57428.14,55159.17,57570.23,57115.74,60262.54,61870.17,60514.53
17,Total non-bank,16288.75,16082.39,17706.73,16377.76,16925.14,17103.2,17031.06,18600.17,18792.47,...,84512.47,85530.11,78992.44,87437.78,85645.59,88685.2,87497.54,92819.17,94845.04,92828.77
18,Grand Total,61188.28,60222,66096.01,60408.87,62088.03,65245.31,66464.64,69034.93,68726.06,...,321415.19,320013.36,308765.14,347739.12,340924.52,372524.32,375217.44,398321.14,411468.07,417186.58

In [55]:
# Bank

# Select columns
df_epayment_volume_bank = df_epayment_volume.iloc[[0,2,3,4,5,6,7,8,9]]

# Transpose data
df_epayment_volume_bank = df_epayment_volume_bank.transpose().reset_index(drop=True)
df_epayment_volume_bank.columns = df_epayment_volume_bank.iloc[0]
df_epayment_volume_bank = df_epayment_volume_bank.drop([0],axis=0)

# Transform data to be in vertical
df_epayment_volume_bank_1 = pd.melt(df_epayment_volume_bank, id_vars='snapshot', var_name='Payment_Channel', value_name='Thousand_transactions')

# Clean value in snapshot
df_epayment_volume_bank_1['snapshot'] = df_epayment_volume_bank_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_epayment_volume_bank_1['snapshot'] = df_epayment_volume_bank_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_epayment_volume_bank_1['snapshot'] = pd.to_datetime(df_epayment_volume_bank_1['snapshot'], format='%b %Y')
# Clean value in payment channel
df_epayment_volume_bank_1['Payment_Channel'] = df_epayment_volume_bank_1['Payment_Channel'].str.strip()
# Convert to numeric
df_epayment_volume_bank_1['Thousand_transactions'] = pd.to_numeric(df_epayment_volume_bank_1['Thousand_transactions'])
# Create column to identify Institutions
df_epayment_volume_bank_1['Institutions'] = 'Bank'

df_epayment_volume_bank_1

      snapshot Payment_Channel  Thousand_transactions Institutions
0   2010-01-01         Counter                 693.10         Bank
1   2010-02-01         Counter                 706.11         Bank
2   2010-03-01         Counter                 791.68         Bank
3   2010-04-01         Counter                 652.27         Bank
4   2010-05-01         Counter                 681.30         Bank
..         ...             ...                    ...          ...
835 2018-05-01          Others                 430.36         Bank
836 2018-06-01          Others                 420.96         Bank
837 2018-07-01          Others                 436.63         Bank
838 2018-08-01          Others                 431.92         Bank
839 2018-09-01          Others                 407.05         Bank

[840 rows x 4 columns]

In [56]:
# Non-bank

# Select columns
df_epayment_volume_nonbank = df_epayment_value.iloc[[0,12,13,14,15,16]]

# Transpose data
df_epayment_volume_nonbank = df_epayment_volume_nonbank.transpose().reset_index(drop=True)
df_epayment_volume_nonbank.columns = df_epayment_volume_nonbank.iloc[0]
df_epayment_volume_nonbank = df_epayment_volume_nonbank.drop([0],axis=0)

# Transform data to be in vertical
df_epayment_volume_nonbank_1 = pd.melt(df_epayment_volume_nonbank, id_vars='snapshot', var_name='Payment_Channel', value_name='Thousand_transactions')

# Clean value in snapshot
df_epayment_volume_nonbank_1['snapshot'] = df_epayment_volume_nonbank_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_epayment_volume_nonbank_1['snapshot'] = df_epayment_volume_nonbank_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_epayment_volume_nonbank_1['snapshot'] = pd.to_datetime(df_epayment_volume_nonbank_1['snapshot'], format='%b %Y')
# Clean value in payment channel
df_epayment_volume_nonbank_1['Payment_Channel'] = df_epayment_volume_nonbank_1['Payment_Channel'].str.strip()
# Convert to numeric
df_epayment_volume_nonbank_1['Thousand_transactions'] = pd.to_numeric(df_epayment_volume_nonbank_1['Thousand_transactions'])
# Create column to identify Institutions
df_epayment_volume_nonbank_1['Institutions'] = 'Non-bank'

df_epayment_volume_nonbank_1

      snapshot Payment_Channel  Thousand_transactions Institutions
0   2010-01-01         Counter                   3.18     Non-bank
1   2010-02-01         Counter                   3.72     Non-bank
2   2010-03-01         Counter                   3.84     Non-bank
3   2010-04-01         Counter                   2.45     Non-bank
4   2010-05-01         Counter                   3.13     Non-bank
..         ...             ...                    ...          ...
520 2018-05-01          Others                  10.37     Non-bank
521 2018-06-01          Others                  10.86     Non-bank
522 2018-07-01          Others                  10.84     Non-bank
523 2018-08-01          Others                  11.28     Non-bank
524 2018-09-01          Others                  11.46     Non-bank

[525 rows x 4 columns]

In [57]:
# Concat Bank and Non-bank data
df_epayment_volume_final = pd.concat([df_epayment_volume_bank_1,df_epayment_volume_nonbank_1])
df_epayment_volume_final

      snapshot Payment_Channel  Thousand_transactions Institutions
0   2010-01-01         Counter                 693.10         Bank
1   2010-02-01         Counter                 706.11         Bank
2   2010-03-01         Counter                 791.68         Bank
3   2010-04-01         Counter                 652.27         Bank
4   2010-05-01         Counter                 681.30         Bank
..         ...             ...                    ...          ...
520 2018-05-01          Others                  10.37     Non-bank
521 2018-06-01          Others                  10.86     Non-bank
522 2018-07-01          Others                  10.84     Non-bank
523 2018-08-01          Others                  11.28     Non-bank
524 2018-09-01          Others                  11.46     Non-bank

[1365 rows x 4 columns]

In [58]:
# merge value and volume

df_epayment_final = pd.merge(df_epayment_volume_final,df_epayment_value_final,on=['snapshot','Payment_Channel','Institutions'],how='left')
df_epayment_final

,snapshot,Payment_Channel,Thousand_transactions,Institutions,Billions_Baht
0,2010-01-01,Counter,693.10,Bank,12.72
1,2010-02-01,Counter,706.11,Bank,12.68
2,2010-03-01,Counter,791.68,Bank,14.93
3,2010-04-01,Counter,652.27,Bank,12.71
4,2010-05-01,Counter,681.30,Bank,12.97
...,...,...,...,...,...
1360,2018-05-01,Others,10.37,Non-bank,10.37
1361,2018-06-01,Others,10.86,Non-bank,10.86
1362,2018-07-01,Others,10.84,Non-bank,10.84
1363,2018-08-01,Others,11.28,Non-bank,11.28
1364,2018-09-01,Others,11.46,Non-bank,11.46

# Mobile,internet banking

In [59]:
data_mob_int_banking = pd.read_excel('/Data .xlsx',sheet_name='Mobile,internet banking')
data_mob_int_banking

,Bank of Thailand,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 115,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124
0,PS_PT_009 : Use of Mobile Banking and Internet...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Unit: as stated),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Last Updated :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Retrieved date :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,JAN 2010,FEB 2010,MAR 2010,APR 2010,MAY 2010,JUN 2010,JUL 2010,AUG 2010,...,JUN 2019,JUL 2019,AUG 2019,SEP 2019,OCT 2019,NOV 2019,DEC 2019,JAN 2020,FEB 2020,MAR 2020
5,1,Internet Banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,No. of agreements 2/,4077869,4153849,4216236,3404136,3240203,3312223,3364722,3418371,...,26549841,27145790,27552835,27614364,28024525,28657871,29404466,28769748,29581529,29850113
7,3,Volume of transactions (Thousand Transactions),4072,4259,4913,4560,4647,5224,5170,5279,...,45205,49313,53381,44705,44567,67297,73278,71501,73894,81719
8,4,Value of transactions (Billions of Baht),551,549,674,672,666,669,668,636,...,2250,2237,2263,2185,2283,2211,2482,2457,2308,2822
9,5,Mobile Banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,6,No. of agreements 2/,349813,364195,382977,390105,399957,416588,431275,449719,...,55154144,56586723,55487160,56301375,57480185,58752128,60084145,60679606,61682877,62788691
11,7,Volume of transactions (Thousand Transactions),1206,1193,1298,1199,1246,1310,1331,1374,...,383165,412738,446836,468910,501052,487404,521199,514379,529879,593059
12,8,Value of transactions (Billions of Baht),7,8,9,8,8,9,9,10,...,1936,2047,2150,2175,2297,2188,2394,2279,2265,2466
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Bank of Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Remark:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1/ Include Inhouse and interbank funds transfe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2/ The number of agreements that customers hav...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,index,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
# remove any null and non-neccessary rows and columns
data_mob_int_banking.iat[4, 1] = 'snapshot'
df_mob_int_banking = data_mob_int_banking.drop([0,1,2,3,13,14,15,16,17,18,19], axis=0)
df_mob_int_banking = df_mob_int_banking.drop(df_mob_int_banking.columns[0],axis=1)
df_mob_int_banking.columns = range(df_mob_int_banking.shape[1])
df_mob_int_banking.reset_index(drop=True,inplace=True)
df_mob_int_banking

,0,1,2,3,4,5,6,7,8,9,...,114,115,116,117,118,119,120,121,122,123
0,snapshot,JAN 2010,FEB 2010,MAR 2010,APR 2010,MAY 2010,JUN 2010,JUL 2010,AUG 2010,SEP 2010,...,JUN 2019,JUL 2019,AUG 2019,SEP 2019,OCT 2019,NOV 2019,DEC 2019,JAN 2020,FEB 2020,MAR 2020
1,Internet Banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No. of agreements 2/,4077869,4153849,4216236,3404136,3240203,3312223,3364722,3418371,3593505,...,26549841,27145790,27552835,27614364,28024525,28657871,29404466,28769748,29581529,29850113
3,Volume of transactions (Thousand Transactions),4072,4259,4913,4560,4647,5224,5170,5279,5461,...,45205,49313,53381,44705,44567,67297,73278,71501,73894,81719
4,Value of transactions (Billions of Baht),551,549,674,672,666,669,668,636,683,...,2250,2237,2263,2185,2283,2211,2482,2457,2308,2822
5,Mobile Banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,No. of agreements 2/,349813,364195,382977,390105,399957,416588,431275,449719,477328,...,55154144,56586723,55487160,56301375,57480185,58752128,60084145,60679606,61682877,62788691
7,Volume of transactions (Thousand Transactions),1206,1193,1298,1199,1246,1310,1331,1374,1403,...,383165,412738,446836,468910,501052,487404,521199,514379,529879,593059
8,Value of transactions (Billions of Baht),7,8,9,8,8,9,9,10,10,...,1936,2047,2150,2175,2297,2188,2394,2279,2265,2466

In [61]:
# Internet Banking

# Select columns
df_mob_int_banking_int = df_mob_int_banking.iloc[[0,2,3,4]]

# Transpose data
df_mob_int_banking_int = df_mob_int_banking_int.transpose().reset_index(drop=True)
df_mob_int_banking_int.columns = df_mob_int_banking_int.iloc[0]
df_mob_int_banking_int = df_mob_int_banking_int.drop([0],axis=0)

# Clean value in snapshot
df_mob_int_banking_int['snapshot'] = df_mob_int_banking_int['snapshot'].str.replace(r' p| r', '', regex=True)
df_mob_int_banking_int['snapshot'] = df_mob_int_banking_int['snapshot'].str.strip()
# Convert snapshot to datetime
df_mob_int_banking_int['snapshot'] = pd.to_datetime(df_mob_int_banking_int['snapshot'], format='%b %Y')
# Format columns name
df_mob_int_banking_int = df_mob_int_banking_int.rename(columns=lambda x: x.strip())
# Rename columns
df_mob_int_banking_int = df_mob_int_banking_int.rename(columns={ 'No. of agreements 2/': 'No_of_agreements', 'Volume of transactions (Thousand Transactions)': 'Thousand_transactions', 'Value of transactions (Billions of Baht)': 'Billions_Baht' })
# Convert to numeric
df_mob_int_banking_int['No_of_agreements'] = pd.to_numeric(df_mob_int_banking_int['No_of_agreements'])
df_mob_int_banking_int['Thousand_transactions'] = pd.to_numeric(df_mob_int_banking_int['Thousand_transactions'])
df_mob_int_banking_int['Billions_Baht'] = pd.to_numeric(df_mob_int_banking_int['Billions_Baht'])
# Create new column to identify type of banking
df_mob_int_banking_int['Type_of_Banking'] = 'Internet Banking'

df_mob_int_banking_int

,snapshot,No_of_agreements,Thousand_transactions,Billions_Baht,Type_of_Banking
1,2010-01-01,4077869,4072,551,Internet Banking
2,2010-02-01,4153849,4259,549,Internet Banking
3,2010-03-01,4216236,4913,674,Internet Banking
4,2010-04-01,3404136,4560,672,Internet Banking
5,2010-05-01,3240203,4647,666,Internet Banking
...,...,...,...,...,...
119,2019-11-01,28657871,67297,2211,Internet Banking
120,2019-12-01,29404466,73278,2482,Internet Banking
121,2020-01-01,28769748,71501,2457,Internet Banking
122,2020-02-01,29581529,73894,2308,Internet Banking
123,2020-03-01,29850113,81719,2822,Internet Banking

In [62]:
# Mobile Banking

# Select columns
df_mob_int_banking_mob = df_mob_int_banking.iloc[[0,6,7,8]]

# Transposedata
df_mob_int_banking_mob = df_mob_int_banking_mob.transpose().reset_index(drop=True)
df_mob_int_banking_mob.columns = df_mob_int_banking_mob.iloc[0]
df_mob_int_banking_mob = df_mob_int_banking_mob.drop([0],axis=0)

# Clean value in snapshot
df_mob_int_banking_mob['snapshot'] = df_mob_int_banking_mob['snapshot'].str.replace(r' p| r', '', regex=True)
df_mob_int_banking_mob['snapshot'] = df_mob_int_banking_mob['snapshot'].str.strip()
# Convert snapshot to datetime
df_mob_int_banking_mob['snapshot'] = pd.to_datetime(df_mob_int_banking_mob['snapshot'], format='%b %Y')
# Format columns name
df_mob_int_banking_mob = df_mob_int_banking_mob.rename(columns=lambda x: x.strip())
# Rename columns
df_mob_int_banking_mob = df_mob_int_banking_mob.rename(columns={ 'No. of agreements 2/': 'No_of_agreements', 'Volume of transactions (Thousand Transactions)': 'Thousand_transactions', 'Value of transactions (Billions of Baht)': 'Billions_Baht' })
# Convert to numeric
df_mob_int_banking_mob['No_of_agreements'] = pd.to_numeric(df_mob_int_banking_mob['No_of_agreements'])
df_mob_int_banking_mob['Thousand_transactions'] = pd.to_numeric(df_mob_int_banking_mob['Thousand_transactions'])
df_mob_int_banking_mob['Billions_Baht'] = pd.to_numeric(df_mob_int_banking_mob['Billions_Baht'])
# Create new column to identify type of banking
df_mob_int_banking_mob['Type_of_Banking'] = 'Mobile Banking'

df_mob_int_banking_mob

,snapshot,No_of_agreements,Thousand_transactions,Billions_Baht,Type_of_Banking
1,2010-01-01,349813,1206,7,Mobile Banking
2,2010-02-01,364195,1193,8,Mobile Banking
3,2010-03-01,382977,1298,9,Mobile Banking
4,2010-04-01,390105,1199,8,Mobile Banking
5,2010-05-01,399957,1246,8,Mobile Banking
...,...,...,...,...,...
119,2019-11-01,58752128,487404,2188,Mobile Banking
120,2019-12-01,60084145,521199,2394,Mobile Banking
121,2020-01-01,60679606,514379,2279,Mobile Banking
122,2020-02-01,61682877,529879,2265,Mobile Banking
123,2020-03-01,62788691,593059,2466,Mobile Banking

In [63]:
# Concat Internet banking and Mobile banking
df_mob_int_banking_final = pd.concat([df_mob_int_banking_int,df_mob_int_banking_mob])

# Create new column to identify purposes of transaction
df_mob_int_banking_final['Purposes_of_Transaction'] = 'All purposes'

df_mob_int_banking_final

,snapshot,No_of_agreements,Thousand_transactions,Billions_Baht,Type_of_Banking,Purposes_of_Transaction
1,2010-01-01,4077869,4072,551,Internet Banking,All purposes
2,2010-02-01,4153849,4259,549,Internet Banking,All purposes
3,2010-03-01,4216236,4913,674,Internet Banking,All purposes
4,2010-04-01,3404136,4560,672,Internet Banking,All purposes
5,2010-05-01,3240203,4647,666,Internet Banking,All purposes
...,...,...,...,...,...,...
119,2019-11-01,58752128,487404,2188,Mobile Banking,All purposes
120,2019-12-01,60084145,521199,2394,Mobile Banking,All purposes
121,2020-01-01,60679606,514379,2279,Mobile Banking,All purposes
122,2020-02-01,61682877,529879,2265,Mobile Banking,All purposes
123,2020-03-01,62788691,593059,2466,Mobile Banking,All purposes

# Mobile,internet banking add

In [64]:
data_mob_int_banking_add = pd.read_excel('/Data .xlsx',sheet_name='Mobile,internet banking add')
data_mob_int_banking_add

,Bank of Thailand,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69
0,PS_PT_009_S2 : Use of Mobile Banking and Inter...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Unit: as stated),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Last Updated :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Retrieved date :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,JAN 2017,FEB 2017,MAR 2017,APR 2017,MAY 2017,JUN 2017,JUL 2017,AUG 2017,...,NOV 2021,DEC 2021,JAN 2022,FEB 2022,MAR 2022,APR 2022,MAY 2022,JUN 2022 p,JUL 2022 p,AUG 2022 p
5,1,Internet Banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,No. of agreements 2/,15728571,16175917,16875980,17307590,17901793,18497240,19076553,18607173,...,38714869,38941665,39060505,39310560,39591530,39853498,38108051,38577544,38852951,39254356
7,3,Volume of transactions (Thousand Transactions),15612,15566,17808,16183,18161,18459,19236,22083,...,51728,54830,52136,43278,49379,47382,56146,54950,54599,52192
8,4,Value of transactions (Billions of Baht),1646,1539,1756,1490,1691,1734,1640,1718,...,2426,2758,2571,2331,2993,2633,2661,2745,2514,2678
9,5,Mobile Banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,6,No. of agreements 2/,22497863,23187805,24190904,24860386,25753826,26670348,27519887,27637391,...,83091624,84291262,85404368,86484749,87642770,88089640,86827644,90525967,91620386,93173252
11,7,Volume of transactions (Thousand Transactions),73483,75145,88107,84387,95406,99125,107304,115981,...,1641017,1703065,1564971,1645019,1773750,1687678,1798057,1828875,1960800,2040588
12,8,for fund transfer and payment,73483,75143,88094,84359,95356,99051,107211,115663,...,1592706,1647990,1509614,1596535,1715210,1631665,1737706,1767511,1896435,1975080
13,9,for cash withdrawal,0,2,13,28,50,74,93,318,...,48310,55075,55357,48484,58540,56013,60351,61364,64365,65508
14,10,Value of transactions (Billions of Baht),606,619,713,646,735,742,774,834,...,5404,5898,5579,5292,5455,5120,5603,5663,5636,5841
15,11,for fund transfer and payment,606,619,713,646,735,741,774,834,...,5303,5778,5466,5192,5338,5003,5479,5540,5508,5713
16,12,for cash withdrawal,0,0,0,0,0,0,0,1,...,101,120,112,100,118,118,124,123,128,129
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Bank of Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Remark:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1/ Include Inhouse and interbank funds transfe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2/ The number of agreements that customers hav...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,index,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
# remove any null and non-neccessary rows and columns
data_mob_int_banking_add.iat[4, 1] = 'snapshot'
df_mob_int_banking_add = data_mob_int_banking_add.drop([0,1,2,3,17,18,19,20,21,22,23,24], axis=0)
df_mob_int_banking_add = df_mob_int_banking_add.drop(df_mob_int_banking_add.columns[0],axis=1)
df_mob_int_banking_add.columns = range(df_mob_int_banking_add.shape[1])
df_mob_int_banking_add.reset_index(drop=True,inplace=True)
df_mob_int_banking_add

,0,1,2,3,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,snapshot,JAN 2017,FEB 2017,MAR 2017,APR 2017,MAY 2017,JUN 2017,JUL 2017,AUG 2017,SEP 2017,...,NOV 2021,DEC 2021,JAN 2022,FEB 2022,MAR 2022,APR 2022,MAY 2022,JUN 2022 p,JUL 2022 p,AUG 2022 p
1,Internet Banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No. of agreements 2/,15728571,16175917,16875980,17307590,17901793,18497240,19076553,18607173,19090048,...,38714869,38941665,39060505,39310560,39591530,39853498,38108051,38577544,38852951,39254356
3,Volume of transactions (Thousand Transactions),15612,15566,17808,16183,18161,18459,19236,22083,15313,...,51728,54830,52136,43278,49379,47382,56146,54950,54599,52192
4,Value of transactions (Billions of Baht),1646,1539,1756,1490,1691,1734,1640,1718,1746,...,2426,2758,2571,2331,2993,2633,2661,2745,2514,2678
5,Mobile Banking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,No. of agreements 2/,22497863,23187805,24190904,24860386,25753826,26670348,27519887,27637391,28885230,...,83091624,84291262,85404368,86484749,87642770,88089640,86827644,90525967,91620386,93173252
7,Volume of transactions (Thousand Transactions),73483,75145,88107,84387,95406,99125,107304,115981,130965,...,1641017,1703065,1564971,1645019,1773750,1687678,1798057,1828875,1960800,2040588
8,for fund transfer and payment,73483,75143,88094,84359,95356,99051,107211,115663,130011,...,1592706,1647990,1509614,1596535,1715210,1631665,1737706,1767511,1896435,1975080
9,for cash withdrawal,0,2,13,28,50,74,93,318,954,...,48310,55075,55357,48484,58540,56013,60351,61364,64365,65508
10,Value of transactions (Billions of Baht),606,619,713,646,735,742,774,834,897,...,5404,5898,5579,5292,5455,5120,5603,5663,5636,5841
11,for fund transfer and payment,606,619,713,646,735,741,774,834,895,...,5303,5778,5466,5192,5338,5003,5479,5540,5508,5713
12,for cash withdrawal,0,0,0,0,0,0,0,1,2,...,101,120,112,100,118,118,124,123,128,129

In [66]:
# Internet Banking

# Select columns
df_mob_int_banking_add_int = df_mob_int_banking_add.iloc[[0,2,3,4]]

# Transpose data
df_mob_int_banking_add_int = df_mob_int_banking_add_int.transpose().reset_index(drop=True)
df_mob_int_banking_add_int.columns = df_mob_int_banking_add_int.iloc[0]
df_mob_int_banking_add_int = df_mob_int_banking_add_int.drop([0],axis=0)

# Clean value in snapshot
df_mob_int_banking_add_int['snapshot'] = df_mob_int_banking_add_int['snapshot'].str.replace(r' p| r', '', regex=True)
df_mob_int_banking_add_int['snapshot'] = df_mob_int_banking_add_int['snapshot'].str.strip()
# Convert snapshot to datetime
df_mob_int_banking_add_int['snapshot'] = pd.to_datetime(df_mob_int_banking_add_int['snapshot'], format='%b %Y')
# Format columns name
df_mob_int_banking_add_int = df_mob_int_banking_add_int.rename(columns=lambda x: x.strip())
# Rename columns
df_mob_int_banking_add_int = df_mob_int_banking_add_int.rename(columns={ 'No. of agreements 2/': 'No_of_agreements', 'Volume of transactions (Thousand Transactions)': 'Thousand_transactions', 'Value of transactions (Billions of Baht)': 'Billions_Baht' })
# Convert to numeric
df_mob_int_banking_add_int['No_of_agreements'] = pd.to_numeric(df_mob_int_banking_add_int['No_of_agreements'])
df_mob_int_banking_add_int['Thousand_transactions'] = pd.to_numeric(df_mob_int_banking_add_int['Thousand_transactions'])
df_mob_int_banking_add_int['Billions_Baht'] = pd.to_numeric(df_mob_int_banking_add_int['Billions_Baht'])
# Create new column to identify type of banking and purposes of transaction
df_mob_int_banking_add_int['Type_of_Banking'] = 'Internet Banking'
df_mob_int_banking_add_int['Purposes_of_Transaction'] = 'All purposes'

df_mob_int_banking_add_int

,snapshot,No_of_agreements,Thousand_transactions,Billions_Baht,Type_of_Banking,Purposes_of_Transaction
1,2017-01-01,15728571,15612,1646,Internet Banking,All purposes
2,2017-02-01,16175917,15566,1539,Internet Banking,All purposes
3,2017-03-01,16875980,17808,1756,Internet Banking,All purposes
4,2017-04-01,17307590,16183,1490,Internet Banking,All purposes
5,2017-05-01,17901793,18161,1691,Internet Banking,All purposes
...,...,...,...,...,...,...
64,2022-04-01,39853498,47382,2633,Internet Banking,All purposes
65,2022-05-01,38108051,56146,2661,Internet Banking,All purposes
66,2022-06-01,38577544,54950,2745,Internet Banking,All purposes
67,2022-07-01,38852951,54599,2514,Internet Banking,All purposes
68,2022-08-01,39254356,52192,2678,Internet Banking,All purposes

In [67]:
# Mobile Banking

df_mob_int_banking_add_mob = df_mob_int_banking_add.iloc[[0,6,7,10]]
df_mob_int_banking_add_mob = df_mob_int_banking_add_mob.transpose().reset_index(drop=True)
df_mob_int_banking_add_mob.columns = df_mob_int_banking_add_mob.iloc[0]
df_mob_int_banking_add_mob = df_mob_int_banking_add_mob.drop([0],axis=0)

# Clean value in snapshot
df_mob_int_banking_add_mob['snapshot'] = df_mob_int_banking_add_mob['snapshot'].str.replace(r' p| r', '', regex=True)
df_mob_int_banking_add_mob['snapshot'] = df_mob_int_banking_add_mob['snapshot'].str.strip()
# Convert snapshot to datetime
df_mob_int_banking_add_mob['snapshot'] = pd.to_datetime(df_mob_int_banking_add_mob['snapshot'], format='%b %Y')
# Format columns name
df_mob_int_banking_add_mob = df_mob_int_banking_add_mob.rename(columns=lambda x: x.strip())
# Rename columns
df_mob_int_banking_add_mob = df_mob_int_banking_add_mob.rename(columns={ 'No. of agreements 2/': 'No_of_agreements', 'Volume of transactions (Thousand Transactions)': 'Thousand_transactions_1', 'Value of transactions (Billions of Baht)': 'Billions_Baht_1' })
# Convert to numeric
df_mob_int_banking_add_mob['No_of_agreements'] = pd.to_numeric(df_mob_int_banking_add_mob['No_of_agreements'])
df_mob_int_banking_add_mob['Thousand_transactions_1'] = pd.to_numeric(df_mob_int_banking_add_mob['Thousand_transactions_1'])
df_mob_int_banking_add_mob['Billions_Baht_1'] = pd.to_numeric(df_mob_int_banking_add_mob['Billions_Baht_1'])
# Create new column to identify type of banking
df_mob_int_banking_add_mob['Type_of_Banking'] = 'Mobile Banking'

df_mob_int_banking_add_mob

,snapshot,No_of_agreements,Thousand_transactions_1,Billions_Baht_1,Type_of_Banking
1,2017-01-01,22497863,73483,606,Mobile Banking
2,2017-02-01,23187805,75145,619,Mobile Banking
3,2017-03-01,24190904,88107,713,Mobile Banking
4,2017-04-01,24860386,84387,646,Mobile Banking
5,2017-05-01,25753826,95406,735,Mobile Banking
...,...,...,...,...,...
64,2022-04-01,88089640,1687678,5120,Mobile Banking
65,2022-05-01,86827644,1798057,5603,Mobile Banking
66,2022-06-01,90525967,1828875,5663,Mobile Banking
67,2022-07-01,91620386,1960800,5636,Mobile Banking
68,2022-08-01,93173252,2040588,5841,Mobile Banking

In [68]:
# Mobile Banking (Type - volume)

# Select columns
df_mob_int_banking_add_mob_1 = df_mob_int_banking_add.iloc[[0,8,9]]

# Transpose data
df_mob_int_banking_add_mob_1 = df_mob_int_banking_add_mob_1.transpose().reset_index(drop=True)
df_mob_int_banking_add_mob_1.columns = df_mob_int_banking_add_mob_1.iloc[0]
df_mob_int_banking_add_mob_1 = df_mob_int_banking_add_mob_1.drop([0],axis=0)

# Transform data to be in vertical
df_mob_int_banking_add_mob_1 = pd.melt(df_mob_int_banking_add_mob_1, id_vars='snapshot', var_name='Purposes_of_Transaction', value_name='Thousand_transactions')

# Clean value in snapshot
df_mob_int_banking_add_mob_1['snapshot'] = df_mob_int_banking_add_mob_1['snapshot'].str.replace(r' p| r', '', regex=True)
df_mob_int_banking_add_mob_1['snapshot'] = df_mob_int_banking_add_mob_1['snapshot'].str.strip()
# Convert snapshot to datetime
df_mob_int_banking_add_mob_1['snapshot'] = pd.to_datetime(df_mob_int_banking_add_mob_1['snapshot'], format='%b %Y')
# Convert to numeric
df_mob_int_banking_add_mob_1['Thousand_transactions'] = pd.to_numeric(df_mob_int_banking_add_mob_1['Thousand_transactions'])
# Clean value in Purposes_of_Transaction
df_mob_int_banking_add_mob_1['Purposes_of_Transaction'] = df_mob_int_banking_add_mob_1['Purposes_of_Transaction'].str.strip()
# Create new column to identify type of banking
df_mob_int_banking_add_mob_1['Type_of_Banking'] = 'Mobile Banking'

df_mob_int_banking_add_mob_1

,snapshot,Purposes_of_Transaction,Thousand_transactions,Type_of_Banking
0,2017-01-01,for fund transfer and payment,73483,Mobile Banking
1,2017-02-01,for fund transfer and payment,75143,Mobile Banking
2,2017-03-01,for fund transfer and payment,88094,Mobile Banking
3,2017-04-01,for fund transfer and payment,84359,Mobile Banking
4,2017-05-01,for fund transfer and payment,95356,Mobile Banking
...,...,...,...,...
131,2022-04-01,for cash withdrawal,56013,Mobile Banking
132,2022-05-01,for cash withdrawal,60351,Mobile Banking
133,2022-06-01,for cash withdrawal,61364,Mobile Banking
134,2022-07-01,for cash withdrawal,64365,Mobile Banking
135,2022-08-01,for cash withdrawal,65508,Mobile Banking

In [69]:
# Mobile Banking (Type - Value)

# Select columns
df_mob_int_banking_add_mob_2 = df_mob_int_banking_add.iloc[[0,11,12]]

# Transpose data
df_mob_int_banking_add_mob_2 = df_mob_int_banking_add_mob_2.transpose().reset_index(drop=True)
df_mob_int_banking_add_mob_2.columns = df_mob_int_banking_add_mob_2.iloc[0]
df_mob_int_banking_add_mob_2 = df_mob_int_banking_add_mob_2.drop([0],axis=0)

# Transform data to be in vertical
df_mob_int_banking_add_mob_2 = pd.melt(df_mob_int_banking_add_mob_2, id_vars='snapshot', var_name='Purposes_of_Transaction', value_name='Billions_Baht')

# Clean value in snapshot
df_mob_int_banking_add_mob_2['snapshot'] = df_mob_int_banking_add_mob_2['snapshot'].str.replace(r' p| r', '', regex=True)
df_mob_int_banking_add_mob_2['snapshot'] = df_mob_int_banking_add_mob_2['snapshot'].str.strip()
# Convert snapshot to datetime
df_mob_int_banking_add_mob_2['snapshot'] = pd.to_datetime(df_mob_int_banking_add_mob_2['snapshot'], format='%b %Y')
# Convert to numeric
df_mob_int_banking_add_mob_2['Billions_Baht'] = pd.to_numeric(df_mob_int_banking_add_mob_2['Billions_Baht'])
# Clean value in Purposes_of_Transaction
df_mob_int_banking_add_mob_2['Purposes_of_Transaction'] = df_mob_int_banking_add_mob_2['Purposes_of_Transaction'].str.strip()
# Create new column to identify type of banking
df_mob_int_banking_add_mob_2['Type_of_Banking'] = 'Mobile Banking'

df_mob_int_banking_add_mob_2

      snapshot        Purposes_of_Transaction  Billions_Baht Type_of_Banking
0   2017-01-01  for fund transfer and payment            606  Mobile Banking
1   2017-02-01  for fund transfer and payment            619  Mobile Banking
2   2017-03-01  for fund transfer and payment            713  Mobile Banking
3   2017-04-01  for fund transfer and payment            646  Mobile Banking
4   2017-05-01  for fund transfer and payment            735  Mobile Banking
..         ...                            ...            ...             ...
131 2022-04-01            for cash withdrawal            118  Mobile Banking
132 2022-05-01            for cash withdrawal            124  Mobile Banking
133 2022-06-01            for cash withdrawal            123  Mobile Banking
134 2022-07-01            for cash withdrawal            128  Mobile Banking
135 2022-08-01            for cash withdrawal            129  Mobile Banking

[136 rows x 4 columns]

In [70]:
# Merge volume and value for mobile banking
df_mob_int_banking_add_mob_type = pd.merge(df_mob_int_banking_add_mob_1,df_mob_int_banking_add_mob_2,on=['snapshot','Purposes_of_Transaction','Type_of_Banking'],how='left')
df_mob_int_banking_add_mob_type

,snapshot,Purposes_of_Transaction,Thousand_transactions,Type_of_Banking,Billions_Baht
0,2017-01-01,for fund transfer and payment,73483,Mobile Banking,606
1,2017-02-01,for fund transfer and payment,75143,Mobile Banking,619
2,2017-03-01,for fund transfer and payment,88094,Mobile Banking,713
3,2017-04-01,for fund transfer and payment,84359,Mobile Banking,646
4,2017-05-01,for fund transfer and payment,95356,Mobile Banking,735
...,...,...,...,...,...
131,2022-04-01,for cash withdrawal,56013,Mobile Banking,118
132,2022-05-01,for cash withdrawal,60351,Mobile Banking,124
133,2022-06-01,for cash withdrawal,61364,Mobile Banking,123
134,2022-07-01,for cash withdrawal,64365,Mobile Banking,128
135,2022-08-01,for cash withdrawal,65508,Mobile Banking,129

In [71]:
# Merge Mobile banking and Type
df_mob_int_banking_add_mob_final = pd.merge(df_mob_int_banking_add_mob,df_mob_int_banking_add_mob_type,on=['snapshot','Type_of_Banking'],how='left')
df_mob_int_banking_add_mob_final = df_mob_int_banking_add_mob_final.drop(df_mob_int_banking_add_mob_final.columns[[2,3]],axis=1)

df_mob_int_banking_add_mob_final

,snapshot,No_of_agreements,Type_of_Banking,Purposes_of_Transaction,Thousand_transactions,Billions_Baht
0,2017-01-01,22497863,Mobile Banking,for fund transfer and payment,73483,606
1,2017-01-01,22497863,Mobile Banking,for cash withdrawal,0,0
2,2017-02-01,23187805,Mobile Banking,for fund transfer and payment,75143,619
3,2017-02-01,23187805,Mobile Banking,for cash withdrawal,2,0
4,2017-03-01,24190904,Mobile Banking,for fund transfer and payment,88094,713
...,...,...,...,...,...,...
131,2022-06-01,90525967,Mobile Banking,for cash withdrawal,61364,123
132,2022-07-01,91620386,Mobile Banking,for fund transfer and payment,1896435,5508
133,2022-07-01,91620386,Mobile Banking,for cash withdrawal,64365,128
134,2022-08-01,93173252,Mobile Banking,for fund transfer and payment,1975080,5713
135,2022-08-01,93173252,Mobile Banking,for cash withdrawal,65508,129

In [72]:
# Concat for >= 2017 data
df_mob_int_banking_add_2017 = pd.concat([df_mob_int_banking_add_int,df_mob_int_banking_add_mob_final])
df_mob_int_banking_add_2017.reset_index(drop=True,inplace=True)
df_mob_int_banking_add_2017

,snapshot,No_of_agreements,Thousand_transactions,Billions_Baht,Type_of_Banking,Purposes_of_Transaction
0,2017-01-01,15728571,15612,1646,Internet Banking,All purposes
1,2017-02-01,16175917,15566,1539,Internet Banking,All purposes
2,2017-03-01,16875980,17808,1756,Internet Banking,All purposes
3,2017-04-01,17307590,16183,1490,Internet Banking,All purposes
4,2017-05-01,17901793,18161,1691,Internet Banking,All purposes
...,...,...,...,...,...,...
199,2022-06-01,90525967,61364,123,Mobile Banking,for cash withdrawal
200,2022-07-01,91620386,1896435,5508,Mobile Banking,for fund transfer and payment
201,2022-07-01,91620386,64365,128,Mobile Banking,for cash withdrawal
202,2022-08-01,93173252,1975080,5713,Mobile Banking,for fund transfer and payment
203,2022-08-01,93173252,65508,129,Mobile Banking,for cash withdrawal

In [73]:
# combine data <2017 and >=2017
df_mobile_internet_banking = pd.concat([df_mob_int_banking_final,df_mob_int_banking_add_2017])
df_mobile_internet_banking.reset_index(drop=True,inplace=True)
df_mobile_internet_banking

,snapshot,No_of_agreements,Thousand_transactions,Billions_Baht,Type_of_Banking,Purposes_of_Transaction
0,2010-01-01,4077869,4072,551,Internet Banking,All purposes
1,2010-02-01,4153849,4259,549,Internet Banking,All purposes
2,2010-03-01,4216236,4913,674,Internet Banking,All purposes
3,2010-04-01,3404136,4560,672,Internet Banking,All purposes
4,2010-05-01,3240203,4647,666,Internet Banking,All purposes
...,...,...,...,...,...,...
445,2022-06-01,90525967,61364,123,Mobile Banking,for cash withdrawal
446,2022-07-01,91620386,1896435,5508,Mobile Banking,for fund transfer and payment
447,2022-07-01,91620386,64365,128,Mobile Banking,for cash withdrawal
448,2022-08-01,93173252,1975080,5713,Mobile Banking,for fund transfer and payment
449,2022-08-01,93173252,65508,129,Mobile Banking,for cash withdrawal

# Payment Cards on ATM & POS

In [74]:
data_payment_cards = pd.read_excel('/Data .xlsx',sheet_name='Payment Cards on ATM & POS ')
data_payment_cards

,Bank of Thailand,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153
0,PS_PT_008 : Use of Payment Cards via EFTPOS an...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Unit : Baht per card per month),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Last Updated :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Retrieved date :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,JAN 2010,FEB 2010,MAR 2010,APR 2010,MAY 2010,JUN 2010,JUL 2010,AUG 2010,...,NOV 2021,DEC 2021,JAN 2022,FEB 2022,MAR 2022,APR 2022,MAY 2022,JUN 2022 p,JUL 2022 p,AUG 2022 p
5,1,EFTPOS Terminal,3643,3472,4168,3706,3649,3893,3942,4033,...,5140,6141,5134,4757,5434,5236,5670,5701,5719,5837
6,2,Credit card 2/,3563,3399,4085,3633,3580,3821,3859,3958,...,4910,5878,4891,4541,5186,5002,5421,5445,5449,5626
7,3,Debit card 3/,80,73,83,73,69,72,83,75,...,230,263,243,216,249,234,249,256,270,211
8,4,ATM,16218,15775,16828,15919,16069,16171,16880,15834,...,8668,13300,9943,8671,9787,9041,9172,8930,8613,7323
9,5,ATM card 4/,6510,6343,6740,6513,6644,6610,7139,6419,...,2805,6320,3721,3072,3502,2997,3050,2947,2644,2741
10,6,Debit card 3/,9708,9432,10088,9406,9425,9561,9741,9415,...,5863,6979,6222,5599,6285,6045,6122,5983,5969,4581
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Bank of Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Remark:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1/ To increase security for cardholders for fi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2/ Domestic and oversea spending of Thai credi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,3/ Domestic and oversea spending of Thai debit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"4/ Data from commercial banks. Since 2019, inc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
# remove any null and non-neccessary rows and columns
data_payment_cards.iat[4, 1] = 'snapshot'
data_payment_cards = data_payment_cards.drop([0,1,2,3,11,12,13,14,15,16,17,18,19,20,21], axis=0)
data_payment_cards = data_payment_cards.drop(data_payment_cards.columns[0],axis=1)
data_payment_cards.columns = range(data_payment_cards.shape[1])
data_payment_cards.reset_index(drop=True,inplace=True)
data_payment_cards

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,snapshot,JAN 2010,FEB 2010,MAR 2010,APR 2010,MAY 2010,JUN 2010,JUL 2010,AUG 2010,SEP 2010,...,NOV 2021,DEC 2021,JAN 2022,FEB 2022,MAR 2022,APR 2022,MAY 2022,JUN 2022 p,JUL 2022 p,AUG 2022 p
1,EFTPOS Terminal,3643,3472,4168,3706,3649,3893,3942,4033,3827,...,5140,6141,5134,4757,5434,5236,5670,5701,5719,5837
2,Credit card 2/,3563,3399,4085,3633,3580,3821,3859,3958,3752,...,4910,5878,4891,4541,5186,5002,5421,5445,5449,5626
3,Debit card 3/,80,73,83,73,69,72,83,75,75,...,230,263,243,216,249,234,249,256,270,211
4,ATM,16218,15775,16828,15919,16069,16171,16880,15834,15769,...,8668,13300,9943,8671,9787,9041,9172,8930,8613,7323
5,ATM card 4/,6510,6343,6740,6513,6644,6610,7139,6419,6368,...,2805,6320,3721,3072,3502,2997,3050,2947,2644,2741
6,Debit card 3/,9708,9432,10088,9406,9425,9561,9741,9415,9401,...,5863,6979,6222,5599,6285,6045,6122,5983,5969,4581

In [76]:
# EFTPOS Terminal

# Select data
data_payment_cards_EFTPOS = data_payment_cards.iloc[[0,2,3]]

# Transpose data
data_payment_cards_EFTPOS = data_payment_cards_EFTPOS.transpose().reset_index(drop=True)
data_payment_cards_EFTPOS.columns = data_payment_cards_EFTPOS.iloc[0]
data_payment_cards_EFTPOS = data_payment_cards_EFTPOS.drop([0],axis=0)

# Transform data to be in vertical
df_payment_cards_EFTPOS = pd.melt(data_payment_cards_EFTPOS, id_vars='snapshot', var_name='Payment_Channel', value_name='Baht')

# Clean value in snapshot
df_payment_cards_EFTPOS['snapshot'] = df_payment_cards_EFTPOS['snapshot'].str.replace(r' p| r', '', regex=True)
df_payment_cards_EFTPOS['snapshot'] = df_payment_cards_EFTPOS['snapshot'].str.strip()
# Convert snapshot to datetime
df_payment_cards_EFTPOS['snapshot'] = pd.to_datetime(df_payment_cards_EFTPOS['snapshot'], format='%b %Y')
# Convert to numeric
df_payment_cards_EFTPOS['Baht'] = pd.to_numeric(df_payment_cards_EFTPOS['Baht'])
# Clean value in Purposes_of_Transaction
df_payment_cards_EFTPOS['Payment_Channel'] = df_payment_cards_EFTPOS['Payment_Channel'].str.replace(r' 1/| 2/| 3/| 4/', '', regex=True)
df_payment_cards_EFTPOS['Payment_Channel'] = df_payment_cards_EFTPOS['Payment_Channel'].str.strip()

# Create new column to identify payment terminal
df_payment_cards_EFTPOS['Payment_Terminal'] = 'EFTPOS Terminal'
df_payment_cards_EFTPOS

      snapshot Payment_Channel  Baht Payment_Terminal
0   2010-01-01     Credit card  3563  EFTPOS Terminal
1   2010-02-01     Credit card  3399  EFTPOS Terminal
2   2010-03-01     Credit card  4085  EFTPOS Terminal
3   2010-04-01     Credit card  3633  EFTPOS Terminal
4   2010-05-01     Credit card  3580  EFTPOS Terminal
..         ...             ...   ...              ...
299 2022-04-01      Debit card   234  EFTPOS Terminal
300 2022-05-01      Debit card   249  EFTPOS Terminal
301 2022-06-01      Debit card   256  EFTPOS Terminal
302 2022-07-01      Debit card   270  EFTPOS Terminal
303 2022-08-01      Debit card   211  EFTPOS Terminal

[304 rows x 4 columns]

In [77]:
# ATM

# Select columns
data_payment_cards_ATM = data_payment_cards.iloc[[0,5,6]]

# Transpose data
data_payment_cards_ATM = data_payment_cards_ATM.transpose().reset_index(drop=True)
data_payment_cards_ATM.columns = data_payment_cards_ATM.iloc[0]
data_payment_cards_ATM = data_payment_cards_ATM.drop([0],axis=0)

# Transform data to be in vertical
df_payment_cards_ATM = pd.melt(data_payment_cards_ATM, id_vars='snapshot', var_name='Payment_Channel', value_name='Baht')

# Clean value in snapshot
df_payment_cards_ATM['snapshot'] = df_payment_cards_ATM['snapshot'].str.replace(r' p| r', '', regex=True)
df_payment_cards_ATM['snapshot'] = df_payment_cards_ATM['snapshot'].str.strip()
# Convert snapshot to datetime
df_payment_cards_ATM['snapshot'] = pd.to_datetime(df_payment_cards_ATM['snapshot'], format='%b %Y')
# Convert to numeric
df_payment_cards_ATM['Baht'] = pd.to_numeric(df_payment_cards_ATM['Baht'])
# Clean value in Purposes_of_Transaction
df_payment_cards_ATM['Payment_Channel'] = df_payment_cards_ATM['Payment_Channel'].str.replace(r' 1/| 2/| 3/| 4/', '', regex=True)
df_payment_cards_ATM['Payment_Channel'] = df_payment_cards_ATM['Payment_Channel'].str.strip()

# Create new column to identify payment terminal
df_payment_cards_ATM['Payment_Terminal'] = 'ATM'
df_payment_cards_ATM

      snapshot Payment_Channel  Baht Payment_Terminal
0   2010-01-01        ATM card  6510              ATM
1   2010-02-01        ATM card  6343              ATM
2   2010-03-01        ATM card  6740              ATM
3   2010-04-01        ATM card  6513              ATM
4   2010-05-01        ATM card  6644              ATM
..         ...             ...   ...              ...
299 2022-04-01      Debit card  6045              ATM
300 2022-05-01      Debit card  6122              ATM
301 2022-06-01      Debit card  5983              ATM
302 2022-07-01      Debit card  5969              ATM
303 2022-08-01      Debit card  4581              ATM

[304 rows x 4 columns]

In [78]:
# Concat EFTPOS and ATM data
data_payment_cards_final = pd.concat([df_payment_cards_EFTPOS,df_payment_cards_ATM])
data_payment_cards_final.reset_index(drop=True,inplace=True)
data_payment_cards_final

      snapshot Payment_Channel  Baht Payment_Terminal
0   2010-01-01     Credit card  3563  EFTPOS Terminal
1   2010-02-01     Credit card  3399  EFTPOS Terminal
2   2010-03-01     Credit card  4085  EFTPOS Terminal
3   2010-04-01     Credit card  3633  EFTPOS Terminal
4   2010-05-01     Credit card  3580  EFTPOS Terminal
..         ...             ...   ...              ...
603 2022-04-01      Debit card  6045              ATM
604 2022-05-01      Debit card  6122              ATM
605 2022-06-01      Debit card  5983              ATM
606 2022-07-01      Debit card  5969              ATM
607 2022-08-01      Debit card  4581              ATM

[608 rows x 4 columns]

# Vol. of Txn by Payment System

In [79]:
data_payment_system_volume = pd.read_excel('/Data .xlsx',sheet_name='Vol. of Txn by Payment System')
data_payment_system_volume

,Bank of Thailand,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153
0,PS_PT_002 : Volume of Payment Transactions pro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Unit : Thousand Transactions),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Last Updated :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Retrieved date :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,JAN 2010,FEB 2010,MAR 2010,APR 2010,MAY 2010,JUN 2010,JUL 2010,AUG 2010,...,NOV 2021,DEC 2021,JAN 2022,FEB 2022,MAR 2022,APR 2022,MAY 2022,JUN 2022 p,JUL 2022 p,AUG 2022 p
5,1,1. Cheque,8738,9107,11257,9178,8823,10199,9159,9954,...,5532,5476,5230,4852,5607,5209,6148,5965,5097,6303
6,2,1.1 Inhouse 2/,2999,3155,3790,3186,3052,3464,3233,3419,...,2091,2170,2011,1871,2140,2379,2670,2709,2408,2656
7,3,1.2 Interbank,5739,5952,7467,5992,5771,6736,5926,6535,...,3441,3306,3219,2981,3467,2830,3478,3256,2689,3647
8,4,2. e-Payments,84156,83631,91615,85640,85283,90980,93339,96917,...,2043917,2137555,1940258,2020349,2215045,2100065,2226433,2248273,2409908,2509298
9,5,2.1 BAHTNET - 3rd Party,161,160,190,166,158,185,175,183,...,391,397,383,360,447,363,386,405,355,437
10,6,2.2 Bulk Payment,19839,20524,21946,21617,20281,21486,21497,22017,...,81889,95782,55723,77372,87465,70573,62981,59243,64592,73380
11,7,Direct credit,12271,12825,13216,13152,12006,13116,13241,13253,...,62790,75135,36010,57701,65392,51578,41122,39458,46507,49919
12,8,Direct debit,5768,5809,6759,6262,6161,6378,6311,6681,...,13049,13570,13666,13148,14528,11581,12325,13398,12420,14147
13,9,ITMX Bulk Payment (SMART),1800,1890,1970,2203,2114,1992,1946,2083,...,6050,7077,6047,6523,7545,7414,9534,6387,5665,9314
14,10,2.3 Interbank Funds Transfer (Online Retail Fu...,7190,7476,8539,7747,8558,9332,9289,9865,...,985352,1021629,925789,999734,1051282,1004468,1069367,1085204,1166354,1213585
15,11,ATM,6497,6770,7748,6323,7035,7602,7562,8089,...,2510,2689,2236,2262,2272,2065,2112,2073,2038,2037
16,12,Internet/Mobile Phone,n.a.,n.a.,n.a.,772,842,926,966,978,...,982631,1018719,923354,997285,1048794,1002219,1067061,1082944,1164146,1211350
17,13,Counter,693,706,792,652,681,805,761,798,...,211,221,199,187,216,184,194,187,170,198
18,14,2.4 Inhouse Funds Transfer,19813,19908,21627,19830,20423,22211,22492,22649,...,667437,690402,644416,647908,721776,682255,732674,745226,792376,820908
19,15,ATM,13847,13773,14729,13404,13985,15073,15410,15402,...,4189,4699,4509,3928,4266,3838,4200,4092,3838,3423
20,16,Internet/Mobile/Telephone 3/,5966,6136,6897,6426,6438,7138,7082,7247,...,663248,685703,639907,643980,717510,678417,728474,741134,788538,817485
21,17,2.5 Payment cards,22090,20503,23300,21645,21181,21480,22505,23460,...,79594,86837,82744,75075,87165,84957,90220,88789,91635,94319
22,18,Debit card 4/,1149,1057,1203,1107,1064,1090,1157,1167,...,17447,19054,18234,16516,19246,18234,18819,18506,19453,19589
23,19,Credit card 5/,20942,19446,22097,20537,20116,20390,21348,22293,...,62147,67783,64510,58559,67919,66723,71401,70283,72182,74730
24,20,2.6 e-Money 6/,15064,15059,16013,14635,14683,16287,17380,18743,...,229254,242508,231203,219900,266910,257449,270805,269406,294596,306669
25,21,Total,92895,92737,102871,94819,94106,101179,102498,106872,...,2049449,2143031,1945488,2025201,2220652,2105274,2232581,2254238,2415005,2515601
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Bank of Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Remark:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,"1/ Since 2019, include data from Special Finan...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2/ Some financial institutions report in-house...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,3/ Include inhouse funds transfer and purchasi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,4/ Domestic and oversea spending of Thai debit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,5/ Domestic and oversea spending of Thai credi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,6/ Data from both of banks and non-bank which ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
# remove any null and non-neccessary rows and columns
data_payment_system_volume.iat[4, 1] = 'snapshot'
data_payment_system_volume = data_payment_system_volume.drop([0,1,2,3,26,27,28,29,30,31,32,33,34,35], axis=0)
data_payment_system_volume = data_payment_system_volume.drop(data_payment_system_volume.columns[0],axis=1)
data_payment_system_volume.columns = range(data_payment_system_volume.shape[1])

#replace n.a. value with 0
data_payment_system_volume = data_payment_system_volume.replace('n.a.', 0)
data_payment_system_volume.reset_index(drop=True,inplace=True)
data_payment_system_volume

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,snapshot,JAN 2010,FEB 2010,MAR 2010,APR 2010,MAY 2010,JUN 2010,JUL 2010,AUG 2010,SEP 2010,...,NOV 2021,DEC 2021,JAN 2022,FEB 2022,MAR 2022,APR 2022,MAY 2022,JUN 2022 p,JUL 2022 p,AUG 2022 p
1,1. Cheque,8738,9107,11257,9178,8823,10199,9159,9954,10034,...,5532,5476,5230,4852,5607,5209,6148,5965,5097,6303
2,1.1 Inhouse 2/,2999,3155,3790,3186,3052,3464,3233,3419,3616,...,2091,2170,2011,1871,2140,2379,2670,2709,2408,2656
3,1.2 Interbank,5739,5952,7467,5992,5771,6736,5926,6535,6418,...,3441,3306,3219,2981,3467,2830,3478,3256,2689,3647
4,2. e-Payments,84156,83631,91615,85640,85283,90980,93339,96917,98346,...,2043917,2137555,1940258,2020349,2215045,2100065,2226433,2248273,2409908,2509298
5,2.1 BAHTNET - 3rd Party,161,160,190,166,158,185,175,183,194,...,391,397,383,360,447,363,386,405,355,437
6,2.2 Bulk Payment,19839,20524,21946,21617,20281,21486,21497,22017,22885,...,81889,95782,55723,77372,87465,70573,62981,59243,64592,73380
7,Direct credit,12271,12825,13216,13152,12006,13116,13241,13253,13909,...,62790,75135,36010,57701,65392,51578,41122,39458,46507,49919
8,Direct debit,5768,5809,6759,6262,6161,6378,6311,6681,6510,...,13049,13570,13666,13148,14528,11581,12325,13398,12420,14147
9,ITMX Bulk Payment (SMART),1800,1890,1970,2203,2114,1992,1946,2083,2466,...,6050,7077,6047,6523,7545,7414,9534,6387,5665,9314
10,2.3 Interbank Funds Transfer (Online Retail Fu...,7190,7476,8539,7747,8558,9332,9289,9865,9714,...,985352,1021629,925789,999734,1051282,1004468,1069367,1085204,1166354,1213585
11,ATM,6497,6770,7748,6323,7035,7602,7562,8089,7906,...,2510,2689,2236,2262,2272,2065,2112,2073,2038,2037
12,Internet/Mobile Phone,0,0,0,772,842,926,966,978,997,...,982631,1018719,923354,997285,1048794,1002219,1067061,1082944,1164146,1211350
13,Counter,693,706,792,652,681,805,761,798,811,...,211,221,199,187,216,184,194,187,170,198
14,2.4 Inhouse Funds Transfer,19813,19908,21627,19830,20423,22211,22492,22649,22988,...,667437,690402,644416,647908,721776,682255,732674,745226,792376,820908
15,ATM,13847,13773,14729,13404,13985,15073,15410,15402,15537,...,4189,4699,4509,3928,4266,3838,4200,4092,3838,3423
16,Internet/Mobile/Telephone 3/,5966,6136,6897,6426,6438,7138,7082,7247,7451,...,663248,685703,639907,643980,717510,678417,728474,741134,788538,817485
17,2.5 Payment cards,22090,20503,23300,21645,21181,21480,22505,23460,21913,...,79594,86837,82744,75075,87165,84957,90220,88789,91635,94319
18,Debit card 4/,1149,1057,1203,1107,1064,1090,1157,1167,1115,...,17447,19054,18234,16516,19246,18234,18819,18506,19453,19589
19,Credit card 5/,20942,19446,22097,20537,20116,20390,21348,22293,20798,...,62147,67783,64510,58559,67919,66723,71401,70283,72182,74730
20,2.6 e-Money 6/,15064,15059,16013,14635,14683,16287,17380,18743,20651,...,229254,242508,231203,219900,266910,257449,270805,269406,294596,306669
21,Total,92895,92737,102871,94819,94106,101179,102498,106872,108380,...,2049449,2143031,1945488,2025201,2220652,2105274,2232581,2254238,2415005,2515601

In [81]:
# Cheque

# Select Columns
data_payment_system_vol_cheque = data_payment_system_volume.iloc[[0,2,3]]

# Transpose data
data_payment_system_vol_cheque = data_payment_system_vol_cheque.transpose().reset_index(drop=True)
data_payment_system_vol_cheque.columns = data_payment_system_vol_cheque.iloc[0]
data_payment_system_vol_cheque = data_payment_system_vol_cheque.drop([0],axis=0)

# Transform data to be in vertical
df_payment_system_vol_cheque = pd.melt(data_payment_system_vol_cheque, id_vars='snapshot', var_name='Payment_System', value_name='Thousand_transactions')

# Clean value in snapshot
df_payment_system_vol_cheque['snapshot'] = df_payment_system_vol_cheque['snapshot'].str.replace(r' p| r', '', regex=True)
df_payment_system_vol_cheque['snapshot'] = df_payment_system_vol_cheque['snapshot'].str.strip()
# Convert snapshot to datetime
df_payment_system_vol_cheque['snapshot'] = pd.to_datetime(df_payment_system_vol_cheque['snapshot'], format='%b %Y')
# Convert to numeric
df_payment_system_vol_cheque['Thousand_transactions'] = pd.to_numeric(df_payment_system_vol_cheque['Thousand_transactions'])
# Clean value in Payment_System
df_payment_system_vol_cheque['Payment_System'] = df_payment_system_vol_cheque['Payment_System'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
df_payment_system_vol_cheque['Payment_System'] = df_payment_system_vol_cheque['Payment_System'].str.strip()
# Create new columns to identify payment transaction and channel
df_payment_system_vol_cheque['Payment_Transaction'] = 'Cheque'
df_payment_system_vol_cheque['Payment_Channel'] = '-'

df_payment_system_vol_cheque

,snapshot,Payment_System,Thousand_transactions,Payment_Transaction,Payment_Channel
0,2010-01-01,1.1 Inhouse,2999,Cheque,-
1,2010-02-01,1.1 Inhouse,3155,Cheque,-
2,2010-03-01,1.1 Inhouse,3790,Cheque,-
3,2010-04-01,1.1 Inhouse,3186,Cheque,-
4,2010-05-01,1.1 Inhouse,3052,Cheque,-
...,...,...,...,...,...
299,2022-04-01,1.2 Interbank,2830,Cheque,-
300,2022-05-01,1.2 Interbank,3478,Cheque,-
301,2022-06-01,1.2 Interbank,3256,Cheque,-
302,2022-07-01,1.2 Interbank,2689,Cheque,-
303,2022-08-01,1.2 Interbank,3647,Cheque,-

In [82]:
# e-Payments
## 2.1 BAHTNET - 3rd Party and 2.6 e-Money

# Select columns
data_payment_system_vol_epayment_BAeM = data_payment_system_volume.iloc[[0,5,20]]

# Transpose data
data_payment_system_vol_epayment_BAeM = data_payment_system_vol_epayment_BAeM.transpose().reset_index(drop=True)
data_payment_system_vol_epayment_BAeM.columns = data_payment_system_vol_epayment_BAeM.iloc[0]
data_payment_system_vol_epayment_BAeM = data_payment_system_vol_epayment_BAeM.drop([0],axis=0)

# Transform data to be in vertical
df_payment_system_vol_epayment_BAeM = pd.melt(data_payment_system_vol_epayment_BAeM, id_vars='snapshot', var_name='Payment_System', value_name='Thousand_transactions')

# Clean value in snapshot
df_payment_system_vol_epayment_BAeM['snapshot'] = df_payment_system_vol_epayment_BAeM['snapshot'].str.replace(r' p| r', '', regex=True)
df_payment_system_vol_epayment_BAeM['snapshot'] = df_payment_system_vol_epayment_BAeM['snapshot'].str.strip()
# Convert snapshot to datetime
df_payment_system_vol_epayment_BAeM['snapshot'] = pd.to_datetime(df_payment_system_vol_epayment_BAeM['snapshot'], format='%b %Y')
# Convert to numeric
df_payment_system_vol_epayment_BAeM['Thousand_transactions'] = pd.to_numeric(df_payment_system_vol_epayment_BAeM['Thousand_transactions'])
# Clean value in Payment_System
df_payment_system_vol_epayment_BAeM['Payment_System'] = df_payment_system_vol_epayment_BAeM['Payment_System'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
df_payment_system_vol_epayment_BAeM['Payment_System'] = df_payment_system_vol_epayment_BAeM['Payment_System'].str.strip()
# Create new columns to identify payment transaction and channel
df_payment_system_vol_epayment_BAeM['Payment_Transaction'] = 'e-Payments'
df_payment_system_vol_epayment_BAeM['Payment_Channel'] = '-'

df_payment_system_vol_epayment_BAeM

,snapshot,Payment_System,Thousand_transactions,Payment_Transaction,Payment_Channel
0,2010-01-01,2.1 BAHTNET - 3rd Party,161,e-Payments,-
1,2010-02-01,2.1 BAHTNET - 3rd Party,160,e-Payments,-
2,2010-03-01,2.1 BAHTNET - 3rd Party,190,e-Payments,-
3,2010-04-01,2.1 BAHTNET - 3rd Party,166,e-Payments,-
4,2010-05-01,2.1 BAHTNET - 3rd Party,158,e-Payments,-
...,...,...,...,...,...
299,2022-04-01,2.6 e-Money,257449,e-Payments,-
300,2022-05-01,2.6 e-Money,270805,e-Payments,-
301,2022-06-01,2.6 e-Money,269406,e-Payments,-
302,2022-07-01,2.6 e-Money,294596,e-Payments,-
303,2022-08-01,2.6 e-Money,306669,e-Payments,-

In [83]:
# e-Payments
## 2.2 Bulk Payment

# Select columns
data_payment_system_vol_epayment_bulk = data_payment_system_volume.iloc[[0,7,8,9]]

# Transpose data
data_payment_system_vol_epayment_bulk = data_payment_system_vol_epayment_bulk.transpose().reset_index(drop=True)
data_payment_system_vol_epayment_bulk.columns = data_payment_system_vol_epayment_bulk.iloc[0]
data_payment_system_vol_epayment_bulk = data_payment_system_vol_epayment_bulk.drop([0],axis=0)

# Transform data to be in vertical
df_payment_system_vol_epayment_bulk = pd.melt(data_payment_system_vol_epayment_bulk, id_vars='snapshot', var_name='Payment_Channel', value_name='Thousand_transactions')

# Clean value in snapshot
df_payment_system_vol_epayment_bulk['snapshot'] = df_payment_system_vol_epayment_bulk['snapshot'].str.replace(r' p| r', '', regex=True)
df_payment_system_vol_epayment_bulk['snapshot'] = df_payment_system_vol_epayment_bulk['snapshot'].str.strip()
# Convert snapshot to datetime
df_payment_system_vol_epayment_bulk['snapshot'] = pd.to_datetime(df_payment_system_vol_epayment_bulk['snapshot'], format='%b %Y')
# Convert to numeric
df_payment_system_vol_epayment_bulk['Thousand_transactions'] = pd.to_numeric(df_payment_system_vol_epayment_bulk['Thousand_transactions'])
# Clean value in Payment_System
df_payment_system_vol_epayment_bulk['Payment_Channel'] = df_payment_system_vol_epayment_bulk['Payment_Channel'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
df_payment_system_vol_epayment_bulk['Payment_Channel'] = df_payment_system_vol_epayment_bulk['Payment_Channel'].str.strip()
# Create new columns to identify payment transaction and system
df_payment_system_vol_epayment_bulk['Payment_Transaction'] = 'e-Payments'
df_payment_system_vol_epayment_bulk['Payment_System'] = '2.2 Bulk Payment'

df_payment_system_vol_epayment_bulk

,snapshot,Payment_Channel,Thousand_transactions,Payment_Transaction,Payment_System
0,2010-01-01,Direct credit,12271,e-Payments,2.2 Bulk Payment
1,2010-02-01,Direct credit,12825,e-Payments,2.2 Bulk Payment
2,2010-03-01,Direct credit,13216,e-Payments,2.2 Bulk Payment
3,2010-04-01,Direct credit,13152,e-Payments,2.2 Bulk Payment
4,2010-05-01,Direct credit,12006,e-Payments,2.2 Bulk Payment
...,...,...,...,...,...
451,2022-04-01,ITMX Bulk Payment (SMART),7414,e-Payments,2.2 Bulk Payment
452,2022-05-01,ITMX Bulk Payment (SMART),9534,e-Payments,2.2 Bulk Payment
453,2022-06-01,ITMX Bulk Payment (SMART),6387,e-Payments,2.2 Bulk Payment
454,2022-07-01,ITMX Bulk Payment (SMART),5665,e-Payments,2.2 Bulk Payment
455,2022-08-01,ITMX Bulk Payment (SMART),9314,e-Payments,2.2 Bulk Payment

In [84]:
# e-Payments
## 2.3 Interbank Funds Transfer (Online Retail Funds Transfer: ORFT)

# Select columns
data_payment_system_vol_epayment_ORFT = data_payment_system_volume.iloc[[0,11,12,13]]

# Transpose data
data_payment_system_vol_epayment_ORFT = data_payment_system_vol_epayment_ORFT.transpose().reset_index(drop=True)
data_payment_system_vol_epayment_ORFT.columns = data_payment_system_vol_epayment_ORFT.iloc[0]
data_payment_system_vol_epayment_ORFT = data_payment_system_vol_epayment_ORFT.drop([0],axis=0)

# Transform data to be in vertical
df_payment_system_vol_epayment_ORFT = pd.melt(data_payment_system_vol_epayment_ORFT, id_vars='snapshot', var_name='Payment_Channel', value_name='Thousand_transactions')

# Clean value in snapshot
df_payment_system_vol_epayment_ORFT['snapshot'] = df_payment_system_vol_epayment_ORFT['snapshot'].str.replace(r' p| r', '', regex=True)
df_payment_system_vol_epayment_ORFT['snapshot'] = df_payment_system_vol_epayment_ORFT['snapshot'].str.strip()
# Convert snapshot to datetime
df_payment_system_vol_epayment_ORFT['snapshot'] = pd.to_datetime(df_payment_system_vol_epayment_ORFT['snapshot'], format='%b %Y')
# Convert to numeric
df_payment_system_vol_epayment_ORFT['Thousand_transactions'] = pd.to_numeric(df_payment_system_vol_epayment_ORFT['Thousand_transactions'])
# Clean value in Payment_System
df_payment_system_vol_epayment_ORFT['Payment_Channel'] = df_payment_system_vol_epayment_ORFT['Payment_Channel'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
df_payment_system_vol_epayment_ORFT['Payment_Channel'] = df_payment_system_vol_epayment_ORFT['Payment_Channel'].str.strip()
# Create new columns to identify payment transaction and system
df_payment_system_vol_epayment_ORFT['Payment_Transaction'] = 'e-Payments'
df_payment_system_vol_epayment_ORFT['Payment_System'] = '2.3 Interbank Funds Transfer (Online Retail Funds Transfer: ORFT)'

df_payment_system_vol_epayment_ORFT

,snapshot,Payment_Channel,Thousand_transactions,Payment_Transaction,Payment_System
0,2010-01-01,ATM,6497,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
1,2010-02-01,ATM,6770,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
2,2010-03-01,ATM,7748,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
3,2010-04-01,ATM,6323,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
4,2010-05-01,ATM,7035,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
...,...,...,...,...,...
451,2022-04-01,Counter,184,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
452,2022-05-01,Counter,194,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
453,2022-06-01,Counter,187,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
454,2022-07-01,Counter,170,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
455,2022-08-01,Counter,198,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...

In [85]:
# e-Payments
## 2.4 Inhouse Funds Transfer

# Select columns
data_payment_system_vol_epayment_IFT = data_payment_system_volume.iloc[[0,15,16]]

# Transpose data
data_payment_system_vol_epayment_IFT = data_payment_system_vol_epayment_IFT.transpose().reset_index(drop=True)
data_payment_system_vol_epayment_IFT.columns = data_payment_system_vol_epayment_IFT.iloc[0]
data_payment_system_vol_epayment_IFT = data_payment_system_vol_epayment_IFT.drop([0],axis=0)

# Transform data to be in vertical
df_payment_system_vol_epayment_IFT = pd.melt(data_payment_system_vol_epayment_IFT, id_vars='snapshot', var_name='Payment_Channel', value_name='Thousand_transactions')

# Clean value in snapshot
df_payment_system_vol_epayment_IFT['snapshot'] = df_payment_system_vol_epayment_IFT['snapshot'].str.replace(r' p| r', '', regex=True)
df_payment_system_vol_epayment_IFT['snapshot'] = df_payment_system_vol_epayment_IFT['snapshot'].str.strip()
# Convert snapshot to datetime
df_payment_system_vol_epayment_IFT['snapshot'] = pd.to_datetime(df_payment_system_vol_epayment_IFT['snapshot'], format='%b %Y')
# Convert to numeric
df_payment_system_vol_epayment_IFT['Thousand_transactions'] = pd.to_numeric(df_payment_system_vol_epayment_IFT['Thousand_transactions'])
# Clean value in Payment_System
df_payment_system_vol_epayment_IFT['Payment_Channel'] = df_payment_system_vol_epayment_IFT['Payment_Channel'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
df_payment_system_vol_epayment_IFT['Payment_Channel'] = df_payment_system_vol_epayment_IFT['Payment_Channel'].str.strip()
# Create new columns to identify payment transaction and system
df_payment_system_vol_epayment_IFT['Payment_Transaction'] = 'e-Payments'
df_payment_system_vol_epayment_IFT['Payment_System'] = '2.4 Inhouse Funds Transfer'

df_payment_system_vol_epayment_IFT

,snapshot,Payment_Channel,Thousand_transactions,Payment_Transaction,Payment_System
0,2010-01-01,ATM,13847,e-Payments,2.4 Inhouse Funds Transfer
1,2010-02-01,ATM,13773,e-Payments,2.4 Inhouse Funds Transfer
2,2010-03-01,ATM,14729,e-Payments,2.4 Inhouse Funds Transfer
3,2010-04-01,ATM,13404,e-Payments,2.4 Inhouse Funds Transfer
4,2010-05-01,ATM,13985,e-Payments,2.4 Inhouse Funds Transfer
...,...,...,...,...,...
299,2022-04-01,Internet/Mobile/Telephone,678417,e-Payments,2.4 Inhouse Funds Transfer
300,2022-05-01,Internet/Mobile/Telephone,728474,e-Payments,2.4 Inhouse Funds Transfer
301,2022-06-01,Internet/Mobile/Telephone,741134,e-Payments,2.4 Inhouse Funds Transfer
302,2022-07-01,Internet/Mobile/Telephone,788538,e-Payments,2.4 Inhouse Funds Transfer
303,2022-08-01,Internet/Mobile/Telephone,817485,e-Payments,2.4 Inhouse Funds Transfer

In [86]:
# e-Payments
## 2.5 Payment cards

# Select columns
data_payment_system_vol_epayment_pc = data_payment_system_volume.iloc[[0,18,19]]

# Transpose data
data_payment_system_vol_epayment_pc = data_payment_system_vol_epayment_pc.transpose().reset_index(drop=True)
data_payment_system_vol_epayment_pc.columns = data_payment_system_vol_epayment_pc.iloc[0]
data_payment_system_vol_epayment_pc = data_payment_system_vol_epayment_pc.drop([0],axis=0)

# Transform data to be in vertical
df_payment_system_vol_epayment_pc = pd.melt(data_payment_system_vol_epayment_pc, id_vars='snapshot', var_name='Payment_Channel', value_name='Thousand_transactions')

# Clean value in snapshot
df_payment_system_vol_epayment_pc['snapshot'] = df_payment_system_vol_epayment_pc['snapshot'].str.replace(r' p| r', '', regex=True)
df_payment_system_vol_epayment_pc['snapshot'] = df_payment_system_vol_epayment_pc['snapshot'].str.strip()
# Convert snapshot to datetime
df_payment_system_vol_epayment_pc['snapshot'] = pd.to_datetime(df_payment_system_vol_epayment_pc['snapshot'], format='%b %Y')
# Convert to numeric
df_payment_system_vol_epayment_pc['Thousand_transactions'] = pd.to_numeric(df_payment_system_vol_epayment_pc['Thousand_transactions'])
# Clean value in Payment_System
df_payment_system_vol_epayment_pc['Payment_Channel'] = df_payment_system_vol_epayment_pc['Payment_Channel'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
df_payment_system_vol_epayment_pc['Payment_Channel'] = df_payment_system_vol_epayment_pc['Payment_Channel'].str.strip()
# Create new columns to identify payment transaction and system
df_payment_system_vol_epayment_pc['Payment_Transaction'] = 'e-Payments'
df_payment_system_vol_epayment_pc['Payment_System'] = '2.5 Payment cards'

df_payment_system_vol_epayment_pc

,snapshot,Payment_Channel,Thousand_transactions,Payment_Transaction,Payment_System
0,2010-01-01,Debit card,1149,e-Payments,2.5 Payment cards
1,2010-02-01,Debit card,1057,e-Payments,2.5 Payment cards
2,2010-03-01,Debit card,1203,e-Payments,2.5 Payment cards
3,2010-04-01,Debit card,1107,e-Payments,2.5 Payment cards
4,2010-05-01,Debit card,1064,e-Payments,2.5 Payment cards
...,...,...,...,...,...
299,2022-04-01,Credit card,66723,e-Payments,2.5 Payment cards
300,2022-05-01,Credit card,71401,e-Payments,2.5 Payment cards
301,2022-06-01,Credit card,70283,e-Payments,2.5 Payment cards
302,2022-07-01,Credit card,72182,e-Payments,2.5 Payment cards
303,2022-08-01,Credit card,74730,e-Payments,2.5 Payment cards

In [87]:
# Combine all Payment System together
data_payment_system_vol_epayment_vol_final = pd.concat([df_payment_system_vol_epayment_BAeM,df_payment_system_vol_epayment_bulk,df_payment_system_vol_epayment_ORFT
                                                        ,df_payment_system_vol_epayment_IFT,df_payment_system_vol_epayment_pc])
data_payment_system_vol_epayment_vol_final.reset_index(drop=True,inplace=True)
data_payment_system_vol_epayment_vol_final

,snapshot,Payment_System,Thousand_transactions,Payment_Transaction,Payment_Channel
0,2010-01-01,2.1 BAHTNET - 3rd Party,161,e-Payments,-
1,2010-02-01,2.1 BAHTNET - 3rd Party,160,e-Payments,-
2,2010-03-01,2.1 BAHTNET - 3rd Party,190,e-Payments,-
3,2010-04-01,2.1 BAHTNET - 3rd Party,166,e-Payments,-
4,2010-05-01,2.1 BAHTNET - 3rd Party,158,e-Payments,-
...,...,...,...,...,...
1819,2022-04-01,2.5 Payment cards,66723,e-Payments,Credit card
1820,2022-05-01,2.5 Payment cards,71401,e-Payments,Credit card
1821,2022-06-01,2.5 Payment cards,70283,e-Payments,Credit card
1822,2022-07-01,2.5 Payment cards,72182,e-Payments,Credit card
1823,2022-08-01,2.5 Payment cards,74730,e-Payments,Credit card

In [88]:
# Concat Payment Transaction Cheque and e-Payments together

data_payment_system_vol_final = pd.concat([df_payment_system_vol_cheque,data_payment_system_vol_epayment_vol_final])
data_payment_system_vol_final.reset_index(drop=True,inplace=True)
data_payment_system_vol_final

,snapshot,Payment_System,Thousand_transactions,Payment_Transaction,Payment_Channel
0,2010-01-01,1.1 Inhouse,2999,Cheque,-
1,2010-02-01,1.1 Inhouse,3155,Cheque,-
2,2010-03-01,1.1 Inhouse,3790,Cheque,-
3,2010-04-01,1.1 Inhouse,3186,Cheque,-
4,2010-05-01,1.1 Inhouse,3052,Cheque,-
...,...,...,...,...,...
2123,2022-04-01,2.5 Payment cards,66723,e-Payments,Credit card
2124,2022-05-01,2.5 Payment cards,71401,e-Payments,Credit card
2125,2022-06-01,2.5 Payment cards,70283,e-Payments,Credit card
2126,2022-07-01,2.5 Payment cards,72182,e-Payments,Credit card
2127,2022-08-01,2.5 Payment cards,74730,e-Payments,Credit card

# Value of Txn by Payment System

In [89]:
data_payment_system_value = pd.read_excel('/Data .xlsx',sheet_name='Value of Txn by Payment System')
data_payment_system_value

,Bank of Thailand,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153
0,PS_PT_003 : Value of Payment Transactions proc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Unit: Billions of Baht),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Last Updated :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Retrieved date :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,JAN 2010,FEB 2010,MAR 2010,APR 2010,MAY 2010,JUN 2010,JUL 2010,AUG 2010,...,NOV 2021,DEC 2021,JAN 2022,FEB 2022,MAR 2022,APR 2022,MAY 2022,JUN 2022 p,JUL 2022 p,AUG 2022 p
5,1,1. Cheque,3882,3966,4788,4168,3816,4640,4026,4299,...,3109,3465,2908,2708,3309,2949,3359,3287,2786,3431
6,2,1.1 Inhouse 1/,1298,1375,1635,1431,1292,1571,1433,1505,...,974,1156,883,864,1062,1017,1216,1187,1005,1158
7,3,1.2 Interbank,2584,2591,3153,2737,2524,3069,2593,2794,...,2135,2309,2025,1844,2247,1932,2143,2100,1781,2273
8,4,2. e-Payments,12503,11955,14053,13822,12626,14576,13375,14618,...,40127,41702,39365,38081,48245,38713,41445,45029,37924,46282
9,5,2.1 BAHTNET - 3rd Party,10503,9921,11679,11595,10532,12261,11117,12267,...,28772,29125,27763,27266,35487,27391,29261,32545,26540,33765
10,6,2.2 Bulk Payment,776,848,949,893,799,919,884,936,...,3017,3473,3013,2843,3842,3146,3432,3465,2878,3534
11,7,Direct credit,555,648,718,648,532,664,635,677,...,2049,2430,2071,1936,2716,2199,2365,2388,2035,2460
12,8,Direct debit,144,121,143,156,187,161,162,170,...,528,567,529,510,637,493,539,610,470,596
13,9,ITMX Bulk Payment (SMART),78,79,89,89,79,94,87,89,...,440,476,413,397,489,454,528,467,373,478
14,10,2.3 Interbank Funds Transfer (Online Retail Fu...,61,62,72,61,65,71,68,71,...,3083,3409,3197,3038,3444,3246,3517,3544,3530,3652
15,11,ATM,41,42,49,40,44,47,45,47,...,18,23,18,17,18,17,17,17,16,16
16,12,Internet/Mobile Phone,7,8,9,8,9,9,10,10,...,3058,3378,3172,3014,3418,3223,3493,3520,3508,3629
17,13,Counter,13,13,15,13,13,15,14,15,...,7,8,7,7,8,6,7,7,6,7
18,14,2.4 Inhouse Funds Transfer,1097,1063,1281,1211,1172,1264,1240,1276,...,5036,5441,5181,4740,5242,4712,4994,5239,4732,5084
19,15,ATM,161,159,178,158,160,177,175,175,...,44,52,45,43,44,41,43,42,40,41
20,16,Internet/Mobile/Telephone 2/,936,904,1103,1053,1012,1086,1065,1101,...,4992,5389,5136,4697,5198,4671,4951,5197,4692,5043
21,17,2.5 Payment cards,64,60,70,61,57,61,64,66,...,168,207,165,153,178,171,183,188,188,193
22,18,Debit card 3/,2,2,3,2,2,2,3,2,...,18,20,18,16,18,17,18,19,20,19
23,19,Credit card 4/,62,58,68,58,55,58,61,64,...,150,187,147,137,160,154,165,169,168,174
24,20,2.6 e-Money 5/,1,1,1,1,1,1,1,1,...,51,47,46,41,52,47,58,48,56,54
25,21,Total,16384,15921,18841,17990,16442,19216,17401,18917,...,43236,45167,42273,40789,51554,41662,44804,48316,40710,49713
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Bank of Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Remark:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,1/ Some financial institutions report in-house...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2/ Include inhouse funds transfer and purchasi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,3/ Domestic and oversea spending of Thai debit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,4/ Domestic and oversea spending of Thai credi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,5/ Data from both of banks and non-bank which ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
# remove any null and non-neccessary rows and columns
data_payment_system_value.iat[4, 1] = 'snapshot'
data_payment_system_value = data_payment_system_value.drop([0,1,2,3,26,27,28,29,30,31,32,33,34], axis=0)
data_payment_system_value = data_payment_system_value.drop(data_payment_system_value.columns[0],axis=1)
data_payment_system_value.columns = range(data_payment_system_value.shape[1])
data_payment_system_value.reset_index(drop=True,inplace=True)
data_payment_system_value

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,snapshot,JAN 2010,FEB 2010,MAR 2010,APR 2010,MAY 2010,JUN 2010,JUL 2010,AUG 2010,SEP 2010,...,NOV 2021,DEC 2021,JAN 2022,FEB 2022,MAR 2022,APR 2022,MAY 2022,JUN 2022 p,JUL 2022 p,AUG 2022 p
1,1. Cheque,3882,3966,4788,4168,3816,4640,4026,4299,4584,...,3109,3465,2908,2708,3309,2949,3359,3287,2786,3431
2,1.1 Inhouse 1/,1298,1375,1635,1431,1292,1571,1433,1505,1603,...,974,1156,883,864,1062,1017,1216,1187,1005,1158
3,1.2 Interbank,2584,2591,3153,2737,2524,3069,2593,2794,2981,...,2135,2309,2025,1844,2247,1932,2143,2100,1781,2273
4,2. e-Payments,12503,11955,14053,13822,12626,14576,13375,14618,16085,...,40127,41702,39365,38081,48245,38713,41445,45029,37924,46282
5,2.1 BAHTNET - 3rd Party,10503,9921,11679,11595,10532,12261,11117,12267,13585,...,28772,29125,27763,27266,35487,27391,29261,32545,26540,33765
6,2.2 Bulk Payment,776,848,949,893,799,919,884,936,1011,...,3017,3473,3013,2843,3842,3146,3432,3465,2878,3534
7,Direct credit,555,648,718,648,532,664,635,677,719,...,2049,2430,2071,1936,2716,2199,2365,2388,2035,2460
8,Direct debit,144,121,143,156,187,161,162,170,192,...,528,567,529,510,637,493,539,610,470,596
9,ITMX Bulk Payment (SMART),78,79,89,89,79,94,87,89,100,...,440,476,413,397,489,454,528,467,373,478
10,2.3 Interbank Funds Transfer (Online Retail Fu...,61,62,72,61,65,71,68,71,71,...,3083,3409,3197,3038,3444,3246,3517,3544,3530,3652
11,ATM,41,42,49,40,44,47,45,47,46,...,18,23,18,17,18,17,17,17,16,16
12,Internet/Mobile Phone,7,8,9,8,9,9,10,10,10,...,3058,3378,3172,3014,3418,3223,3493,3520,3508,3629
13,Counter,13,13,15,13,13,15,14,15,15,...,7,8,7,7,8,6,7,7,6,7
14,2.4 Inhouse Funds Transfer,1097,1063,1281,1211,1172,1264,1240,1276,1353,...,5036,5441,5181,4740,5242,4712,4994,5239,4732,5084
15,ATM,161,159,178,158,160,177,175,175,179,...,44,52,45,43,44,41,43,42,40,41
16,Internet/Mobile/Telephone 2/,936,904,1103,1053,1012,1086,1065,1101,1175,...,4992,5389,5136,4697,5198,4671,4951,5197,4692,5043
17,2.5 Payment cards,64,60,70,61,57,61,64,66,63,...,168,207,165,153,178,171,183,188,188,193
18,Debit card 3/,2,2,3,2,2,2,3,2,2,...,18,20,18,16,18,17,18,19,20,19
19,Credit card 4/,62,58,68,58,55,58,61,64,61,...,150,187,147,137,160,154,165,169,168,174
20,2.6 e-Money 5/,1,1,1,1,1,1,1,1,2,...,51,47,46,41,52,47,58,48,56,54
21,Total,16384,15921,18841,17990,16442,19216,17401,18917,20670,...,43236,45167,42273,40789,51554,41662,44804,48316,40710,49713

In [91]:
# Cheque

# Select Columns
data_payment_system_val_cheque = data_payment_system_value.iloc[[0,2,3]]

# Transpose data
data_payment_system_val_cheque = data_payment_system_val_cheque.transpose().reset_index(drop=True)
data_payment_system_val_cheque.columns = data_payment_system_val_cheque.iloc[0]
data_payment_system_val_cheque = data_payment_system_val_cheque.drop([0],axis=0)

# Transform data to be in vertical
df_payment_system_val_cheque = pd.melt(data_payment_system_val_cheque, id_vars='snapshot', var_name='Payment_System', value_name='Billions_Baht')

# Clean value in snapshot
df_payment_system_val_cheque['snapshot'] = df_payment_system_val_cheque['snapshot'].str.replace(r' p| r', '', regex=True)
df_payment_system_val_cheque['snapshot'] = df_payment_system_val_cheque['snapshot'].str.strip()
# Convert snapshot to datetime
df_payment_system_val_cheque['snapshot'] = pd.to_datetime(df_payment_system_val_cheque['snapshot'], format='%b %Y')
# Convert to numeric
df_payment_system_val_cheque['Billions_Baht'] = pd.to_numeric(df_payment_system_val_cheque['Billions_Baht'])
# Clean value in Payment_System
df_payment_system_val_cheque['Payment_System'] = df_payment_system_val_cheque['Payment_System'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
df_payment_system_val_cheque['Payment_System'] = df_payment_system_val_cheque['Payment_System'].str.strip()
# Create new columns to identify payment transaction and channel
df_payment_system_val_cheque['Payment_Transaction'] = 'Cheque'
df_payment_system_val_cheque['Payment_Channel'] = '-'

df_payment_system_val_cheque

,snapshot,Payment_System,Billions_Baht,Payment_Transaction,Payment_Channel
0,2010-01-01,1.1 Inhouse,1298,Cheque,-
1,2010-02-01,1.1 Inhouse,1375,Cheque,-
2,2010-03-01,1.1 Inhouse,1635,Cheque,-
3,2010-04-01,1.1 Inhouse,1431,Cheque,-
4,2010-05-01,1.1 Inhouse,1292,Cheque,-
...,...,...,...,...,...
299,2022-04-01,1.2 Interbank,1932,Cheque,-
300,2022-05-01,1.2 Interbank,2143,Cheque,-
301,2022-06-01,1.2 Interbank,2100,Cheque,-
302,2022-07-01,1.2 Interbank,1781,Cheque,-
303,2022-08-01,1.2 Interbank,2273,Cheque,-

In [92]:
# e-Payments
## 2.1 BAHTNET - 3rd Party and 2.6 e-Money

# Select columns
data_payment_system_val_epayment_BAeM = data_payment_system_value.iloc[[0,5,20]]

# Transpose data
data_payment_system_val_epayment_BAeM = data_payment_system_val_epayment_BAeM.transpose().reset_index(drop=True)
data_payment_system_val_epayment_BAeM.columns = data_payment_system_val_epayment_BAeM.iloc[0]
data_payment_system_val_epayment_BAeM = data_payment_system_val_epayment_BAeM.drop([0],axis=0)

# Transform data to be in vertical
df_payment_system_val_epayment_BAeM = pd.melt(data_payment_system_val_epayment_BAeM, id_vars='snapshot', var_name='Payment_System', value_name='Billions_Baht')

# Clean value in snapshot
df_payment_system_val_epayment_BAeM['snapshot'] = df_payment_system_val_epayment_BAeM['snapshot'].str.replace(r' p| r', '', regex=True)
df_payment_system_val_epayment_BAeM['snapshot'] = df_payment_system_val_epayment_BAeM['snapshot'].str.strip()
# Convert snapshot to datetime
df_payment_system_val_epayment_BAeM['snapshot'] = pd.to_datetime(df_payment_system_val_epayment_BAeM['snapshot'], format='%b %Y')
# Convert to numeric
df_payment_system_val_epayment_BAeM['Billions_Baht'] = pd.to_numeric(df_payment_system_val_epayment_BAeM['Billions_Baht'])
# Clean value in Payment_System
df_payment_system_val_epayment_BAeM['Payment_System'] = df_payment_system_val_epayment_BAeM['Payment_System'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
df_payment_system_val_epayment_BAeM['Payment_System'] = df_payment_system_val_epayment_BAeM['Payment_System'].str.strip()
# Create new columns to identify payment transaction and channel
df_payment_system_val_epayment_BAeM['Payment_Transaction'] = 'e-Payments'
df_payment_system_val_epayment_BAeM['Payment_Channel'] = '-'

df_payment_system_val_epayment_BAeM

,snapshot,Payment_System,Billions_Baht,Payment_Transaction,Payment_Channel
0,2010-01-01,2.1 BAHTNET - 3rd Party,10503,e-Payments,-
1,2010-02-01,2.1 BAHTNET - 3rd Party,9921,e-Payments,-
2,2010-03-01,2.1 BAHTNET - 3rd Party,11679,e-Payments,-
3,2010-04-01,2.1 BAHTNET - 3rd Party,11595,e-Payments,-
4,2010-05-01,2.1 BAHTNET - 3rd Party,10532,e-Payments,-
...,...,...,...,...,...
299,2022-04-01,2.6 e-Money,47,e-Payments,-
300,2022-05-01,2.6 e-Money,58,e-Payments,-
301,2022-06-01,2.6 e-Money,48,e-Payments,-
302,2022-07-01,2.6 e-Money,56,e-Payments,-
303,2022-08-01,2.6 e-Money,54,e-Payments,-

In [93]:
# e-Payments
## 2.2 Bulk Payment

# Select columns
data_payment_system_val_epayment_bulk = data_payment_system_value.iloc[[0,7,8,9]]

# Transpose data
data_payment_system_val_epayment_bulk = data_payment_system_val_epayment_bulk.transpose().reset_index(drop=True)
data_payment_system_val_epayment_bulk.columns = data_payment_system_val_epayment_bulk.iloc[0]
data_payment_system_val_epayment_bulk = data_payment_system_val_epayment_bulk.drop([0],axis=0)

# Transform data to be in vertical
df_payment_system_val_epayment_bulk = pd.melt(data_payment_system_val_epayment_bulk, id_vars='snapshot', var_name='Payment_Channel', value_name='Billions_Baht')

# Clean value in snapshot
df_payment_system_val_epayment_bulk['snapshot'] = df_payment_system_val_epayment_bulk['snapshot'].str.replace(r' p| r', '', regex=True)
df_payment_system_val_epayment_bulk['snapshot'] = df_payment_system_val_epayment_bulk['snapshot'].str.strip()
# Convert snapshot to datetime
df_payment_system_val_epayment_bulk['snapshot'] = pd.to_datetime(df_payment_system_val_epayment_bulk['snapshot'], format='%b %Y')
# Convert to numeric
df_payment_system_val_epayment_bulk['Billions_Baht'] = pd.to_numeric(df_payment_system_val_epayment_bulk['Billions_Baht'])
# Clean value in Payment_System
df_payment_system_val_epayment_bulk['Payment_Channel'] = df_payment_system_val_epayment_bulk['Payment_Channel'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
df_payment_system_val_epayment_bulk['Payment_Channel'] = df_payment_system_val_epayment_bulk['Payment_Channel'].str.strip()
# Create new columns to identify payment transaction and system
df_payment_system_val_epayment_bulk['Payment_Transaction'] = 'e-Payments'
df_payment_system_val_epayment_bulk['Payment_System'] = '2.2 Bulk Payment'

df_payment_system_val_epayment_bulk

,snapshot,Payment_Channel,Billions_Baht,Payment_Transaction,Payment_System
0,2010-01-01,Direct credit,555,e-Payments,2.2 Bulk Payment
1,2010-02-01,Direct credit,648,e-Payments,2.2 Bulk Payment
2,2010-03-01,Direct credit,718,e-Payments,2.2 Bulk Payment
3,2010-04-01,Direct credit,648,e-Payments,2.2 Bulk Payment
4,2010-05-01,Direct credit,532,e-Payments,2.2 Bulk Payment
...,...,...,...,...,...
451,2022-04-01,ITMX Bulk Payment (SMART),454,e-Payments,2.2 Bulk Payment
452,2022-05-01,ITMX Bulk Payment (SMART),528,e-Payments,2.2 Bulk Payment
453,2022-06-01,ITMX Bulk Payment (SMART),467,e-Payments,2.2 Bulk Payment
454,2022-07-01,ITMX Bulk Payment (SMART),373,e-Payments,2.2 Bulk Payment
455,2022-08-01,ITMX Bulk Payment (SMART),478,e-Payments,2.2 Bulk Payment

In [94]:
# e-Payments
## 2.3 Interbank Funds Transfer (Online Retail Funds Transfer: ORFT)

# Select columns
data_payment_system_val_epayment_ORFT = data_payment_system_value.iloc[[0,11,12,13]]

# Transpose data
data_payment_system_val_epayment_ORFT = data_payment_system_val_epayment_ORFT.transpose().reset_index(drop=True)
data_payment_system_val_epayment_ORFT.columns = data_payment_system_val_epayment_ORFT.iloc[0]
data_payment_system_val_epayment_ORFT = data_payment_system_val_epayment_ORFT.drop([0],axis=0)

# Transform data to be in vertical
df_payment_system_val_epayment_ORFT = pd.melt(data_payment_system_val_epayment_ORFT, id_vars='snapshot', var_name='Payment_Channel', value_name='Billions_Baht')

# Clean value in snapshot
df_payment_system_val_epayment_ORFT['snapshot'] = df_payment_system_val_epayment_ORFT['snapshot'].str.replace(r' p| r', '', regex=True)
df_payment_system_val_epayment_ORFT['snapshot'] = df_payment_system_val_epayment_ORFT['snapshot'].str.strip()
# Convert snapshot to datetime
df_payment_system_val_epayment_ORFT['snapshot'] = pd.to_datetime(df_payment_system_val_epayment_ORFT['snapshot'], format='%b %Y')
# Convert to numeric
df_payment_system_val_epayment_ORFT['Billions_Baht'] = pd.to_numeric(df_payment_system_val_epayment_ORFT['Billions_Baht'])
# Clean value in Payment_System
df_payment_system_val_epayment_ORFT['Payment_Channel'] = df_payment_system_val_epayment_ORFT['Payment_Channel'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
df_payment_system_val_epayment_ORFT['Payment_Channel'] = df_payment_system_val_epayment_ORFT['Payment_Channel'].str.strip()
# Create new columns to identify payment transaction and system
df_payment_system_val_epayment_ORFT['Payment_Transaction'] = 'e-Payments'
df_payment_system_val_epayment_ORFT['Payment_System'] = '2.3 Interbank Funds Transfer (Online Retail Funds Transfer: ORFT)'

df_payment_system_val_epayment_ORFT

,snapshot,Payment_Channel,Billions_Baht,Payment_Transaction,Payment_System
0,2010-01-01,ATM,41,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
1,2010-02-01,ATM,42,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
2,2010-03-01,ATM,49,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
3,2010-04-01,ATM,40,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
4,2010-05-01,ATM,44,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
...,...,...,...,...,...
451,2022-04-01,Counter,6,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
452,2022-05-01,Counter,7,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
453,2022-06-01,Counter,7,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
454,2022-07-01,Counter,6,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...
455,2022-08-01,Counter,7,e-Payments,2.3 Interbank Funds Transfer (Online Retail Fu...

In [95]:
# e-Payments
## 2.4 Inhouse Funds Transfer

# Select columns
data_payment_system_val_epayment_IFT = data_payment_system_value.iloc[[0,15,16]]

# Transpose data
data_payment_system_val_epayment_IFT = data_payment_system_val_epayment_IFT.transpose().reset_index(drop=True)
data_payment_system_val_epayment_IFT.columns = data_payment_system_val_epayment_IFT.iloc[0]
data_payment_system_val_epayment_IFT = data_payment_system_val_epayment_IFT.drop([0],axis=0)

# Transform data to be in vertical
df_payment_system_val_epayment_IFT = pd.melt(data_payment_system_val_epayment_IFT, id_vars='snapshot', var_name='Payment_Channel', value_name='Billions_Baht')

# Clean value in snapshot
df_payment_system_val_epayment_IFT['snapshot'] = df_payment_system_val_epayment_IFT['snapshot'].str.replace(r' p| r', '', regex=True)
df_payment_system_val_epayment_IFT['snapshot'] = df_payment_system_val_epayment_IFT['snapshot'].str.strip()
# Convert snapshot to datetime
df_payment_system_val_epayment_IFT['snapshot'] = pd.to_datetime(df_payment_system_val_epayment_IFT['snapshot'], format='%b %Y')
# Convert to numeric
df_payment_system_val_epayment_IFT['Billions_Baht'] = pd.to_numeric(df_payment_system_val_epayment_IFT['Billions_Baht'])
# Clean value in Payment_System
df_payment_system_val_epayment_IFT['Payment_Channel'] = df_payment_system_val_epayment_IFT['Payment_Channel'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
df_payment_system_val_epayment_IFT['Payment_Channel'] = df_payment_system_val_epayment_IFT['Payment_Channel'].str.strip()
# Create new columns to identify payment transaction and system
df_payment_system_val_epayment_IFT['Payment_Transaction'] = 'e-Payments'
df_payment_system_val_epayment_IFT['Payment_System'] = '2.4 Inhouse Funds Transfer'

df_payment_system_val_epayment_IFT

,snapshot,Payment_Channel,Billions_Baht,Payment_Transaction,Payment_System
0,2010-01-01,ATM,161,e-Payments,2.4 Inhouse Funds Transfer
1,2010-02-01,ATM,159,e-Payments,2.4 Inhouse Funds Transfer
2,2010-03-01,ATM,178,e-Payments,2.4 Inhouse Funds Transfer
3,2010-04-01,ATM,158,e-Payments,2.4 Inhouse Funds Transfer
4,2010-05-01,ATM,160,e-Payments,2.4 Inhouse Funds Transfer
...,...,...,...,...,...
299,2022-04-01,Internet/Mobile/Telephone,4671,e-Payments,2.4 Inhouse Funds Transfer
300,2022-05-01,Internet/Mobile/Telephone,4951,e-Payments,2.4 Inhouse Funds Transfer
301,2022-06-01,Internet/Mobile/Telephone,5197,e-Payments,2.4 Inhouse Funds Transfer
302,2022-07-01,Internet/Mobile/Telephone,4692,e-Payments,2.4 Inhouse Funds Transfer
303,2022-08-01,Internet/Mobile/Telephone,5043,e-Payments,2.4 Inhouse Funds Transfer

In [96]:
# e-Payments
## 2.5 Payment cards

# Select columns
data_payment_system_val_epayment_pc = data_payment_system_value.iloc[[0,18,19]]

# Transpose data
data_payment_system_val_epayment_pc = data_payment_system_val_epayment_pc.transpose().reset_index(drop=True)
data_payment_system_val_epayment_pc.columns = data_payment_system_val_epayment_pc.iloc[0]
data_payment_system_val_epayment_pc = data_payment_system_val_epayment_pc.drop([0],axis=0)

# Transform data to be in vertical
df_payment_system_val_epayment_pc = pd.melt(data_payment_system_val_epayment_pc, id_vars='snapshot', var_name='Payment_Channel', value_name='Billions_Baht')

# Clean value in snapshot
df_payment_system_val_epayment_pc['snapshot'] = df_payment_system_val_epayment_pc['snapshot'].str.replace(r' p| r', '', regex=True)
df_payment_system_val_epayment_pc['snapshot'] = df_payment_system_val_epayment_pc['snapshot'].str.strip()
# Convert snapshot to datetime
df_payment_system_val_epayment_pc['snapshot'] = pd.to_datetime(df_payment_system_val_epayment_pc['snapshot'], format='%b %Y')
# Convert to numeric
df_payment_system_val_epayment_pc['Billions_Baht'] = pd.to_numeric(df_payment_system_val_epayment_pc['Billions_Baht'])
# Clean value in Payment_System
df_payment_system_val_epayment_pc['Payment_Channel'] = df_payment_system_val_epayment_pc['Payment_Channel'].str.replace(r' 1/| 2/| 3/| 4/| 5/| 6/| 7/', '', regex=True)
df_payment_system_val_epayment_pc['Payment_Channel'] = df_payment_system_val_epayment_pc['Payment_Channel'].str.strip()
# Create new columns to identify payment transaction and system
df_payment_system_val_epayment_pc['Payment_Transaction'] = 'e-Payments'
df_payment_system_val_epayment_pc['Payment_System'] = '2.5 Payment cards'

df_payment_system_val_epayment_pc

,snapshot,Payment_Channel,Billions_Baht,Payment_Transaction,Payment_System
0,2010-01-01,Debit card,2,e-Payments,2.5 Payment cards
1,2010-02-01,Debit card,2,e-Payments,2.5 Payment cards
2,2010-03-01,Debit card,3,e-Payments,2.5 Payment cards
3,2010-04-01,Debit card,2,e-Payments,2.5 Payment cards
4,2010-05-01,Debit card,2,e-Payments,2.5 Payment cards
...,...,...,...,...,...
299,2022-04-01,Credit card,154,e-Payments,2.5 Payment cards
300,2022-05-01,Credit card,165,e-Payments,2.5 Payment cards
301,2022-06-01,Credit card,169,e-Payments,2.5 Payment cards
302,2022-07-01,Credit card,168,e-Payments,2.5 Payment cards
303,2022-08-01,Credit card,174,e-Payments,2.5 Payment cards

In [97]:
# Combine all Payment System together
data_payment_system_val_epayment_final = pd.concat([df_payment_system_val_epayment_BAeM,df_payment_system_val_epayment_bulk,df_payment_system_val_epayment_ORFT\
                                                    ,df_payment_system_val_epayment_IFT,df_payment_system_val_epayment_pc])
data_payment_system_val_epayment_final.reset_index(drop=True,inplace=True)
data_payment_system_val_epayment_final

,snapshot,Payment_System,Billions_Baht,Payment_Transaction,Payment_Channel
0,2010-01-01,2.1 BAHTNET - 3rd Party,10503,e-Payments,-
1,2010-02-01,2.1 BAHTNET - 3rd Party,9921,e-Payments,-
2,2010-03-01,2.1 BAHTNET - 3rd Party,11679,e-Payments,-
3,2010-04-01,2.1 BAHTNET - 3rd Party,11595,e-Payments,-
4,2010-05-01,2.1 BAHTNET - 3rd Party,10532,e-Payments,-
...,...,...,...,...,...
1819,2022-04-01,2.5 Payment cards,154,e-Payments,Credit card
1820,2022-05-01,2.5 Payment cards,165,e-Payments,Credit card
1821,2022-06-01,2.5 Payment cards,169,e-Payments,Credit card
1822,2022-07-01,2.5 Payment cards,168,e-Payments,Credit card
1823,2022-08-01,2.5 Payment cards,174,e-Payments,Credit card

In [98]:
# Concat Payment Transaction Cheque and e-Payments together

data_payment_system_val_final = pd.concat([df_payment_system_val_cheque,data_payment_system_val_epayment_final])
data_payment_system_val_final.reset_index(drop=True,inplace=True)
data_payment_system_val_final

,snapshot,Payment_System,Billions_Baht,Payment_Transaction,Payment_Channel
0,2010-01-01,1.1 Inhouse,1298,Cheque,-
1,2010-02-01,1.1 Inhouse,1375,Cheque,-
2,2010-03-01,1.1 Inhouse,1635,Cheque,-
3,2010-04-01,1.1 Inhouse,1431,Cheque,-
4,2010-05-01,1.1 Inhouse,1292,Cheque,-
...,...,...,...,...,...
2123,2022-04-01,2.5 Payment cards,154,e-Payments,Credit card
2124,2022-05-01,2.5 Payment cards,165,e-Payments,Credit card
2125,2022-06-01,2.5 Payment cards,169,e-Payments,Credit card
2126,2022-07-01,2.5 Payment cards,168,e-Payments,Credit card
2127,2022-08-01,2.5 Payment cards,174,e-Payments,Credit card

In [99]:
# Merge volume and value together
data_payment_system_final = pd.merge(data_payment_system_vol_final,data_payment_system_val_final,on=['snapshot','Payment_System','Payment_Transaction','Payment_Channel'],how='left')
data_payment_system_final

,snapshot,Payment_System,Thousand_transactions,Payment_Transaction,Payment_Channel,Billions_Baht
0,2010-01-01,1.1 Inhouse,2999,Cheque,-,1298
1,2010-02-01,1.1 Inhouse,3155,Cheque,-,1375
2,2010-03-01,1.1 Inhouse,3790,Cheque,-,1635
3,2010-04-01,1.1 Inhouse,3186,Cheque,-,1431
4,2010-05-01,1.1 Inhouse,3052,Cheque,-,1292
...,...,...,...,...,...,...
2123,2022-04-01,2.5 Payment cards,66723,e-Payments,Credit card,154
2124,2022-05-01,2.5 Payment cards,71401,e-Payments,Credit card,165
2125,2022-06-01,2.5 Payment cards,70283,e-Payments,Credit card,169
2126,2022-07-01,2.5 Payment cards,72182,e-Payments,Credit card,168
2127,2022-08-01,2.5 Payment cards,74730,e-Payments,Credit card,174

# Export data

In [100]:
with pd.ExcelWriter('/Data Clean.xlsx') as writer:
  data_payment_system_final.to_excel(writer, sheet_name='Payment System', index=False)
  data_payment_cards_final.to_excel(writer, sheet_name='Payment Cards on ATM & POS', index=False)
  df_mobile_internet_banking.to_excel(writer, sheet_name='Mobile,internet banking', index=False)
  df_epayment_final.to_excel(writer, sheet_name='ePayment', index=False)
  df_emoney_final.to_excel(writer, sheet_name='eMoney', index=False)
  df_plastic_card_final.to_excel(writer, sheet_name='Plastic card usage', index=False)
  df_EFTPOS.to_excel(writer, sheet_name='EFTPOS Terminals', index=False)
  bill_payment.to_excel(writer, sheet_name='Bill payment', index=False)
  Foreign_payment_cards_and_e_money_spent_in_Thailand.to_excel(writer, sheet_name='Foreign cards & emoney', index=False)
  Thai_payment_cards_aboard.to_excel(writer, sheet_name='Thai cards spent abroad', index=False)
  df_promptpay.to_excel(writer, sheet_name='promptpay', index=False)
  df_num_cards_final.to_excel(writer, sheet_name='number of cards', index=False)